<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="header_ba">
			<i class="header_ba_i"></i>当前方案
			<span class="header_ba_span" style="color:red;">{{ skinTitleValue }}</span>
		</div>
		<div class="table_style">
			<div>
				<span style="margin:0px 10px 0px 10px;">小程序</span>
				<Select v-model="appletValue" clearable style="width:200px" @on-change="selectApplet">
					<Option v-for="item in appletList" :value="item.value" :key="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div style="margin:20px 0px 20px 0px;">
				<RadioGroup v-model="skin" @on-change="showMessage">
					<Radio v-for="item in skinList" :label="item.value" size="large" style="margin-right:20px;" border>{{ item.title }}</Radio>
				</RadioGroup>
			</div>
			<Card style="margin-top:10px;width:350px;">
				<img :src=" skinImageValue" style="width: 100%">
			</Card>
		</div>

		<div class="footer">
			<Button type="primary" @click="saveSkin">保存并发布</Button>
		</div>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: false,
			skin: 'SCHEME_ONE',
			skinImageValue: 'https://cjyjxqny.missapp.com/posterNew.png',
			skinTitleValue: '',
			appletValue: '',
			skinList: [
				{'value': 'SCHEME_ONE', 'title': '方案一（默认皮肤）'},
				{'value': 'SCHEME_TWO', 'title': '方案二'},
				{'value': 'SCHEME_THREE', 'title': '方案三'},
				{'value': 'SCHEME_FOUR', 'title': '方案四'},
			],
			skinImage: {
				'SCHEME_ONE': 'https://cjyjxqny.missapp.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220127110518.jpg',
				'SCHEME_TWO': 'https://cjyjxqny.missapp.com/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20220128091611.jpg',
				'SCHEME_THREE': 'https://cjyjxqny.missapp.com/蓝莓.png',
				'SCHEME_FOUR': 'https://cjyjxqny.missapp.com/牛油果.png',
			},
			skinTitle: {
				'SCHEME_ONE': '方案一（默认皮肤）',
				'SCHEME_TWO': '方案二',
				'SCHEME_THREE': '方案三',
				'SCHEME_FOUR': '方案四',
			},
			appletList: [
				{
					value: 'wx99942da2b8166c31',
					label: '超级意见箱'
				},
				{
					value: 'wxe54ba2e5a7ae2211',
					label: '老板意见箱'
				},
			],
		}
	},

	methods: {
		showMessage (value) {
			this.skinImageValue = this.skinImage[value];
			//this.skinTitleValue = this.skinTitle[value];
		},
		selectApplet (value) {
			this.getSkin(value);
		},
		getSkin (value) {
			this.spinShow = true;
			const data = {
				appId: value,
			}
			axios.request({
				url: "applet-skin/get",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.skin = res.data.skin;
					this.skinImageValue = this.skinImage[this.skin];
					this.skinTitleValue = this.skinTitle[this.skin];
					this.appletValue = value;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		saveSkin () {
			this.spinShow = true;
			const data = {
				appId: this.appletValue,
				skin: this.skin,
			}
			axios.request({
				url: "applet-skin/create",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.skinImageValue = this.skinImage[res.data.skin];
					this.skinTitleValue = this.skinTitle[res.data.skin];
					this.spinShow = false;
					this.$Message.success({
						content: '发布成功!',
						duration: 6,
						closable: true
					});
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getSkin('wx99942da2b8166c31');
	}
}


</script>
