<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="search-con search-con-top select_type_header">
			<div class="search_type">
				<div class="searchTopText">关键字</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="keyword"/>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div class="search_type">
				<Button @click="showMessage({id:0})" class="search-btn" type="primary" icon="md-add">添加模板</Button>
			</div>
		</div>
		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData">
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="md-create" style="margin:5px;">编辑</Button>
					<Button @click="showMessage(row)" type="error" icon="md-trash" style="margin:5px;" v-show="row.id>16">删除</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-page-size-change="handlePageSize"
				@on-change="getMessage"
				show-total
				show-sizer
				show-elevator/>
		</div>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'templateList',
	components: {},
	data () {
		return {
			spinShow: false,
			tableLoading: false,
			keyword: '',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
		}
	},

	methods: {
		handlePageSize(pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				keyword: this.keyword,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "/message-template/index",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const route = {
				name: 'queryTemplate',
				query: {
					id
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage(0);
	}
}


</script>
