<style lang="less">
.ivu-radio {
	display: inline-block;
	margin-right: 4px;
	white-space: nowrap;
	position: relative;
	line-height: 1;
	vertical-align: middle;
	cursor: pointer;
}
</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="header_ba">
			<i class="header_ba_i"></i>模板编辑
		</div>
		<div nclass="table_style">
			<Form ref="formData" :model="formData" :rules="ruleValidate" :label-width="100" style="margin:20px 0px 20px 0px;">
				<FormItem label="标题" prop="title">
					<Input v-model="formData.title" placeholder="" style="width:200px;" clearable></Input>
				</FormItem>
				<FormItem label="类型" prop="type">
					<RadioGroup v-model="formData.type">
						<Radio label="BOX-MESSAGE">意见箱消息</Radio>
						<Radio label="SYSTEM-MESSAGE">系统通知</Radio>
					</RadioGroup>
				</FormItem>
				<FormItem label="备注" prop="remark">
					<Input v-model="formData.remark" type="textarea" :autosize="{minRows: 4,maxRows: 10}" placeholder="" style="width: 280px;"></Input>
				</FormItem>
				<FormItem label="模板内容" prop="connect">
					<span style="margin-left:10px;color:red;">关键字控件,点击直接添加变量参数</span> <br>
					<Button type="primary" class="search_type" @click="pushMessage('{{$BOX}}')">意见箱</Button>
					<Button type="primary" class="search_type" @click="pushMessage('{{$COMPANY}}')">企业</Button>
					<Button type="primary" class="search_type" @click="pushMessage('{{$USER}}')">用户</Button>
					<Button type="primary" class="search_type" @click="pushMessage('{{$NAME}}')">名称</Button>
					<br>
					<Input v-model="formData.content" type="textarea" :autosize="{minRows: 8,maxRows: 20}" placeholder="模板内容" style="width: 450px;margin-top:10px;"></Input>
				</FormItem>
			</Form>
			<div class="page_style">
				<Button @click="close">关闭本页</Button>
				<Button type="primary" @click="saveOneCheck('formData')" style="margin-left:10px;">保存</Button>
			</div>
		</div>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'templateMessageQuery',
	components: {},
	data () {
		return {
			spinShow: false,
			formData: {
				id: 0,
				title: '',
				type: 'BOX-MESSAGE',
				content: '',
				remark: ''
			},
			ruleValidate: {
				title: [
					{required: true, message: '标题不能为空', trigger: 'blur'}
				],
			},
		}
	},

	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryTemplate',
				query: {
					id: this.$route.query.id,
				}
			})
		},
		pushMessage (info) {
			this.formData.content = this.formData.content + info;
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "/message-template/get",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.formData=res.data;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		saveOneCheck (name) {
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage();
				} else {
					this.modalShow = true;
					this.$Message.error('必要信息不能为空!');
					this.loading = false;
				}
			})
		},
		saveMessage () {
			this.spinShow = true;
			const data = {
				data: this.formData,
			}
			axios.request({
				url: 'message-template/update',
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.formData.id = res.data.id;
					this.spinShow = false;
					this.$Message.success({
						content: '操作成功！',
						duration: 6,
						closable: true
					});
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		reload () {
			this.$nextTick(() => (this.isRouterAlive = true))
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage();
	}
}


</script>
