<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="header_ba">
			<i class="header_ba_i"></i>小程序关键词过滤设置
		</div>


		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键词</div>
				<Input v-model="text" clearable placeholder="输入关键字搜索" class="search-input"/>
			</div>

			<div style="display: inline-block;margin-left:10px;">

				<Button @click="getMsg" class="search-btn" type="primary" icon="ios-search">搜索</Button>
				<Button @click="delAllMesssage" class="search-btn" type="primary" icon="md-trash">删除选中过滤词</Button>

			</div>
			<div style="display: inline-block;float:right;margin-top: 18px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="modal1 = true" class="search-btn" type="primary" icon="md-add">添加关键词</Button>
			</div>
		</div>

		<div class="table_style">
			<div class="tagStyle">
				<CheckboxGroup v-model="selectMsgValue">
					<Checkbox border v-for="(item,index) in tagValue" :label="item.id">
						<Tag closable size="large" style="margin:10px;" @on-close="delMsg(item.id,index)">{{ item.value }}</Tag>
					</Checkbox>
				</CheckboxGroup>

			</div>

		</div>


		<Modal
			v-model="modal1"
			title="添加关键词"
			width=400
			@on-ok="ok"
			@on-cancel="cancel">
			<Input type="textarea" maxlength="300" show-word-limit :autosize="{minRows: 5,maxRows: 5}" placeholder="" v-model="valueNew"/>


			<div style="margin:5px;color:red;">多个关键词的时候使用 ‘ / ’ 分割开 eg: 意见/获得</div>
		</Modal>


	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import "./style.less";
import config from '@/config/index.js';

export default {

	name: 'message',
	components: {},
	data () {
		return {
			spinShow: true,
			modal1: false,
			selectMsgValue: [],
			text: '',
			valueNew: '',
			tagValue: [
				{value: 'biaqian', id: 1},
				{value: 'biaqian', id: 1},
				{value: 'biaqian', id: 1}
			],
		}
	},

	methods: {

		getMsg () {
			this.spinShow = true;
			const data = {
				keyword: this.text,
			}
			axios.request({
				url: "AppletKeywords/getMsg",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tagValue = res.data.items;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 5,
						closable: true
					});
				}
			});
		},

		delMsg (id, index) {
			this.$Modal.confirm({
				title: '是否确认删除',
				content: '<p>删除之后关键词将不再存在。</p>',
				onOk: () => {
					this.delMessage(id, index);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},


		delAllMesssage () {
			//console.log( this.selectMsgValue.length);
			var numL = this.selectMsgValue.length;
			this.$Modal.confirm({
				title: '是否确认删除 ' + numL + ' 条关键词',
				content: '<p>删除之后关键词将不再存在。</p>',
				onOk: () => {
					const data = {
						id: this.selectMsgValue,
					}
					axios.request({
						url: "AppletKeywords/delAllMsg",
						data,
						method: "post"
					}).then((response) => {
						const res = response.data;
						if (res.code == 0) {
							this.selectMsgValue = [];
							this.getMsg();
						} else {
							this.$Message.error({
								content: res.message,
								duration: 5,
								closable: true
							});
						}
					});
				},
				onCancel: () => {

				}
			});

		},

		delMessage (row, index) {
			this.spinShow = true;
			const data = {
				id: row,
			}
			axios.request({
				url: "AppletKeywords/delMsg",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.spinShow = false;
					this.tagValue.splice(index, 1);
					this.selectMsgValue = [];
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 5,
						closable: true
					});
				}
			});
		},

		ok () {
			this.spinShow = true;
			const data = {
				value: this.valueNew,
			}
			axios.request({
				url: "AppletKeywords/insertMsg",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.spinShow = false;
					this.$Notice.success({
						duration: 10,
						title: '提示',
						desc: res.data.message
					});
					this.tagValue = res.data.list;
					this.valueNew = '';
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 5,
						closable: true
					});
				}
			});
		},
		cancel () {
			this.valueNew = '';
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMsg();
	}
}


</script>
