<style lang="less" scoped>
/deep/.ivu-card-head {
    border-bottom: 1px solid #e8eaec;
    padding: 14px 16px;
    line-height: 1;
}
/deep/.ivu-card-body {
    padding: 16px;
}
</style>
<template>
  <Form ref="loginForm" :model="form" :rules="rules" @keydown.enter.native="handleSubmit"  style="margin:55px 10px 10px 10px;height:280px;">
    <FormItem prop="userName" style="margin-bottom: 50px;vertical-align: top;zoom: 1.2;">
      <Input v-model="form.userName" placeholder="请输入用户名"  size=large>
        <span slot="prepend">
          <Icon :size="16" type="ios-person"></Icon>
        </span>
      </Input>
    </FormItem>
    <FormItem prop="password" style="margin-bottom: 55px;vertical-align: top;zoom: 1.2;">
      <Input type="password" v-model="form.password" placeholder="请输入密码" size=large>
        <span slot="prepend">
          <Icon :size="14" type="md-lock"></Icon>
        </span>
      </Input>
    </FormItem>
    <FormItem style="margin-bottom: 55px;vertical-align: top;zoom: 1.2;">
      <Button @click="handleSubmit" type="primary" long  size=large>登录</Button>
    </FormItem>
  </Form>
</template>
<script>
export default {
  name: 'LoginForm',
  props: {
    userNameRules: {
      type: Array,
      default: () => {
        return [
          { required: true, message: '账号不能为空', trigger: 'blur' }
        ]
      }
    },
    passwordRules: {
      type: Array,
      default: () => {
        return [
          { required: true, message: '密码不能为空', trigger: 'blur' }
        ]
      }
    }
  },
  data () {
    return {
      form: {
        userName: '',
        password: ''
      }
    }
  },
  computed: {
    rules () {
      return {
        userName: this.userNameRules,
        password: this.passwordRules
      }
    }
  },
  methods: {
    handleSubmit () {
      this.$refs.loginForm.validate((valid) => {
        if (valid) {
          this.$emit('on-success-valid', {
            userName: this.form.userName,
            password: this.form.password
          })
        }
      })
    }
  }
}
</script>
