<template>
    <div class="main_style">

        <Spin fix v-if="spinShow">
            <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
            <div>加载中......</div>
        </Spin>
        <div class="search-con search-con-top select_type_header">
            <div style="display: inline-block;">
                <div class="searchTopText">标题</div>
                <Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
            </div>
            <div style="display: inline-block;margin-left:10px;">
                <Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
            </div>
            <div style="display: inline-block;float:right;margin-top: 18px;">
                <Button @click="showMessage({id:0,title:'新内容资讯'})" class="search-btn" type="primary" icon="md-add">
                    添加内容资讯
                </Button>
            </div>
        </div>
        <div class="table_style">
            <Table :columns="columns" :data="tableData" fixed="right">
                <template slot-scope="{ row,index }" slot="switch" class="button_set">
                    <i-Switch @on-change="changeStatus(row)" v-model="row.status" true-color="#13ce66"
                              false-color="#ff4949"
                              size="large">
                        <span slot="open"> 开启 </span>
                        <span slot="close"> 关闭 </span>
                    </i-Switch>
                </template>
                <template slot-scope="{ row,index }" slot="image">
                    <div>
                        <img class="news-img" :src="row.image" alt="内容资讯图片">
                    </div>
                </template>
                <template slot-scope="{ row,index }" slot="edit" class="button_set">
                    <Button @click="edit(row)" type="primary" style="margin:5px;" icon="md-create">编辑</Button>
                    <Button @click="deleteTip(row)" type="error" icon="md-trash" style="margin:5px;">删除</Button>
                </template>
            </Table>
        </div>


        <div class="page_style">
            <Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="changePage" show-total/>
        </div>
    </div>
</template>

<script>
import "@/view/indexBox.less";
import axios from "@/libs/api.request";
import config from '@/config/index.js';
import spinShow from "@/view/example/spinShow.vue";
import Cookies from "js-cookie";

export default {
    name: "newsList",
    components: {
        spinShow,
    },
    data() {
        return {
            imageAction: config.Image_url + '?access-token=' + Cookies.get('accessToken'),
            tableNumber: 0,
            pageSize: config.PAGE_SIZE_DEF,
            page: 1,
            pageSizeOpts: config.pageSizeOpts,
            tableData: [],
            columns: [],
            spinShow: false,
        }
    },
    methods: {
        showMessage(row) {
            const id = row.id;
            const name = row.title;
            const route = {
                name: 'newsEdition',
                query: {
                    id,
                    name
                },
                meta: {
                    title: `参数-${id}`
                }
            }
            this.$router.push(route)
            this.$router.resolve({
                path: "/newsEdition",
                query: {id: 0}
            });
        },
        edit: function (row) {
            const id = row.id;
            const name = row.title;
            const route = {
                name: 'newsEdition',
                query: {
                    id,
                    name
                },
                meta: {
                    title: `参数-${id}`
                }
            }
            this.$router.push(route)
            this.$router.resolve({
                path: "/newsEdition",
                query: {id: row.id}
            });
        },
        deleteTip: function (row) {
            this.$Modal.confirm({
                title: '是否确认删除',
                content: '<p>删除之后新闻资讯将不再存在。</p>',
                onOk: () => {
                    this.deleteMessage(row);
                },
                onCancel: () => {
                }
            });
        },
        changeStatus: function (row) {
            this.spinShow = true;
            const data = {id: row.id, status: row.status}
            axios.request({
                url: "news/switchStatus",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                this.spinShow = false;
                if (res.code === 0) {
                    this.$Message.success({
                        content: '操作成功！',
                        duration: 6,
                        closable: true
                    });
                    this.getMessage();
                } else {
                    this.spinShow = false;
                    row.status = res.data.status;
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            });
        },
        deleteMessage: function (row) {
            const data = {id: row.id}
            console.log((data));
            axios.request({
                url: 'news/delete',
                data: data,
                method: 'post'
            }).then((response) => {
                const res = response.data;
                if (res.code === 0) {
                    this.$Message.success('移除成功');
                    this.getMessage();
                } else {
                    this.$Message.error(res.message);
                }
            }).catch((err) => {
                this.$Message.error('网络异常');
                console.log(err);
            })
        },
        changePage: function (page) {
            this.page = page;
            this.getMessage();
        },
        getMessage: function () {
            this.spinShow = true;
            const data = {
                page: this.page,
            }
            axios.request({
                url: 'news/get',
                data: data,
                method: 'post'
            }).then((response) => {
                const res = response.data;
                if (res.code === 0) {
                    this.page = res.data.page;
                    this.pageSize = res.data.pageSize;
                    this.columns = res.data.columns;
                    this.tableNumber = res.data.total;
                    this.tableData = res.data.items;
                    this.spinShow = false;
                } else {
                    this.spinShow = false;
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            }).catch((err) => {
                this.$Message.error('网络异常');
                console.log(err);
            })
        },
    },
    created() {
    },
    mounted() {
        this.getMessage();
    },
}
</script>

<style scoped>
.news-img {
    width: 300px;
    height: 100px;
}

</style>
