<template>
    <div class="main_style">
        <Spin fix v-if="spinShow">
            <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
            <div>加载中......</div>
        </Spin>

        <div class="header_ba">
            <i class="header_ba_i"></i>文章编辑
        </div>
        <div class="table_style">
            <Form ref="formData" :model="formData" :rules="ruleValidate" :label-width="100"
                  style="margin:20px 0px 20px 0px;">
                <FormItem label="内容资讯标题" prop="title">
                    <Input v-model="formData.title" placeholder="" style="width:200px;" clearable></Input>
                </FormItem>
                <FormItem label="上传">
                    <div>
                        <Upload
                            v-show="true"
                            ref="upload"
                            name="image"
                            :show-upload-list="false"
                            :on-success="handleSuccessPos"
                            :format="['jpg','jpeg','png']"
                            :max-size="10240"
                            :on-format-error="handleFormatError"
                            :on-exceeded-size="handleMaxSize"
                            :before-upload="handleBeforeUpload"
                            type="drag"
                            :action="imageAction"
                            style="display: inline-block;width:78px;">
                            <div style="width: 78px;height:78px;line-height: 78px;">
                                <Icon type="ios-camera" size="30"></Icon>
                            </div>
                        </Upload>
                    </div>
                </FormItem>
                <FormItem label="内容资讯图片" prop="image">
                    <img :src="formData.image"/>
                </FormItem>
                <FormItem label="是否启用" prop="is_open">
                    <i-Switch v-model="formData.suspend" true-color="#13ce66" false-color="#ff4949" size="large">
                        <span slot="open"> 开启 </span>
                        <span slot="close"> 关闭 </span>
                    </i-Switch>
                </FormItem>
                <FormItem label="排序" prop="sort">
                    <Input v-model="formData.sort" placeholder="0" style="width:200px;" clearable></Input>
                </FormItem>
                <FormItem label="文章内容" prop="content">
                    <div style="width: 500px;height:100%;margin-bottom:50px;min-height: 300px;">
                        <edit @on-change="editMessage" :value="editMes" :height="800" style="width:600px;"/>
                    </div>
                </FormItem>
            </Form>
        </div>
        <div class="footer">
            <Button @click="close">关闭本页</Button>
            <Button type="primary" @click="saveNews()">保存</Button>
        </div>
    </div>
</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import edit from '@/view/example/edit.vue'
import Cookies from "js-cookie";

export default {
    name: "NewsEdition",
    components: {
        edit,
    },
    data() {
        return {
            imageAction: config.Image_url + '?access-token=' + Cookies.get('accessToken'),
            spinShow: true,
            editMes: '',
            formData: {
                id: 0,
                title: '',
                content: '',
                image: '',
                sort: 0,
                suspend: false,
            },
            ruleValidate: {
                title: [
                    {required: true, message: '标题不能为空', type: 'string', trigger: 'blur'}
                ],
                content: [
                    {required: true, message: '内容不能为空', type: 'string', trigger: 'change'}
                ],
                image: [
                    {required: true, message: '图片不能为空', type: 'string', trigger: 'change'}
                ],
                sort: [
                    {required: true, message: '排序不能为空', type: 'number', trigger: 'change'}
                ],
                suspend: [
                    {required: true, message: '状态不能为空', type: 'boolean', trigger: 'change'}
                ],

            },
        }
    },
    methods: {
        ...mapMutations([
            'closeTag'
        ]),
        handleSuccessPos: function (res, file) {
            this.formData.image = res.data.url;
        },
        handleFormatError: function (file) {
            this.$Notice.warning({
                title: '格式提示',
                desc: '图片文件 ' + file.name + ' 格式不正确, 请选择 jpg 或 png.'
            });
        },
        handleMaxSize: function (file) {
            this.$Notice.warning({
                title: '文件超出大小控制',
                desc: '文件  ' + file.name + ' 太大, 不能超过 10M.'
            });
        },
        handleBeforeUpload: function () {
            return true;
        },
        close() {
            /**
             * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
             * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
             */
            this.closeTag({
                name: 'newsEdition',
                query: {
                    id: this.$route.query.id,
                    name: this.$route.query.name
                }
            })
        },
        //富文本插件
        editMessage(data) {
            this.formData.content = data;
        },
        saveNews() {
            this.$refs['formData'].validate((valid) => {
                if (valid) {
                    this.save();
                } else {
                    this.modalShow = true;
                    this.$Message.error('必要信息不能为空!');
                    this.loading = false;
                }
            })
        },
        save: function () {
            this.spinShow = true;
            const data = {
                id: this.formData.id,
                title: this.formData.title,
                image: this.formData.image,
                content: this.formData.content,
                sort: this.formData.sort,
                suspend: !this.formData.suspend,
            }
            axios.request({
                url: 'news/create',
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                if (res.code === 0) {
                    this.formData.id = res.data.id;
                    this.spinShow = false;
                    this.$Message.success({
                        content: '操作成功！',
                        duration: 6,
                        closable: true
                    });
                } else {
                    this.spinShow = false;
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            });
        },
        getNewsDetail: function () {
            this.spinShow = true;
            const data = {
                id: this.$route.query.id,
            }
            if (data.id === 0) {
                this.spinShow = false;
                return;
            }
            axios.request({
                url: "news/detail",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                this.spinShow = false;
                if (res.code === 0) {
                    console.log(res.data);
                    // this.formData = res.data;
                    this.formData = {
                        id: res.data.id,
                        title: res.data.title,
                        image: res.data.image,
                        content: res.data.content,
                        sort: res.data.sort,
                        suspend: !res.data.suspend,
                    };
                    this.editMes = res.data.content;
                } else {
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            });
        },
    },
    mounted() {
        this.getNewsDetail();
    }
}
</script>

<style scoped>

</style>