.login{
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/login-bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    &-con{
        position: absolute;
        right: 240px;
        top: 52%;
        transform: translateY(-60%);
        width: 440px;
		height:560px;
        &-header{
            font-size: 16px;
            font-weight: 300;
            text-align: center;
            padding: 30px 0;
        }
        .form-con{
           
        }
        .login-tip{
            font-size: 10px;
            text-align: center;
            color: #c3c3c3;
        }
    }
}



.logoHeader{
	height: 82px;
    width: auto;
   
    width: auto;
    display: block;
    margin: 35px auto;
}

