<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div class="search_type">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col">
					<Option v-for="item in searchTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
			</div>
			<div class="search_type">
				<div class="searchTopText" style="margin-left:5px;">创建时间</div>
				<DatePicker type="datetimerange" placeholder="时间段" format="yyyy-MM-dd HH:mm:ss" v-model="time" style="width: 280px;margin-left:5px;">
				</DatePicker>
			</div>
			<div class="search_type">
				<div class="searchTopText">认领状态</div>
				<Select v-model="peopleStatus" class="search-col">
					<Option v-for="item in peopleStatusList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div class="search_type">
				<div class="searchTopText">认证状态</div>
				<Select v-model="status" class="search-col">
					<Option v-for="item in statusList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div class="search_type">
				<div class="searchTopText">企业来源</div>
				<Select v-model="platform" class="search-col">
					<Option v-for="item in platformList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search" style="margin-left:10px;">搜索</Button>
			</div>
			<div class="search_type" v-show="power.exportCompany" >
				<div>&nbsp;&nbsp;</div>
				<Button @click="explode()" class="search-btn" type="primary" icon="md-download">导出</Button>
			</div>
			<div class="search_type">
				<div style="margin-bottom: 4px;" class="searchTopText">过滤</div>
				<i-switch v-model="switchState" @on-change="getMessage(1)">
					<span slot="open">开</span>
					<span slot="close">关</span>
				</i-switch>
			</div>
		</div>

		<div class="table_style">

			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor"
			       ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show" style="width: 85px;height: 85px;">
							<img :src=" row.logo">
						</div>
						<div class="image-title-show">
							<Tooltip :content="row.companyName" class="span_message_style_10">
								公司名称：{{ row.companyName }}
							</Tooltip>
							<br>
							<span class="span_message_style_10">超级管理员：{{ row.admin }}</span><br>
							<span class="span_message_style_10" v-show="power.companyMobile">手机：{{ row.adminMobile }}</span><br>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="platform">
					<span v-show=" row.platform =='MP-WEIXIN'">超级意见箱</span>
					<span v-show=" row.platform =='MP-DINGTALK'">钉钉</span>
					<span v-show=" row.platform =='MP-WEIXIN-BOSSBOX'">老板意见箱</span>
					<span v-show=" row.platform =='BUSINESS-WEB'">PC-电脑端</span>
					<span v-show=" row.platform =='APP'">APP</span>
					<span v-show=" row.platform =='PC'">PC-电脑端</span>
					<span v-show=" row.platform =='H5'">H5-移动端</span>
				</template>
				<template slot-scope="{ row,index }" slot="status">
					<span style="color:green;" v-show="row.companyStatus==1">已认证</span>
					<span style="color:red;" v-show="row.companyStatus==0">未认证</span>
				</template>

				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="ios-book" style="margin:5px;">详情</Button>
					<Button @click="editMessage(row,index)" type="success" icon="md-create" style="margin:5px;" v-show="power.editCompany">编辑</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>
		<!-- ***************** -->
		<Modal
			width=800
			v-model="companyBox"
			@on-cancel="cancel"
		>
			<p slot="header" style="font-size:18px;color:#f60;text-align:left;height:27px">
				<span>{{ companyData.companyName }}</span>
			</p>
			<div style="">
				<Form :model="companyData" :label-width="100" style="margin-top:10px;">
					<FormItem label="企业logo">
						<div>
							<div class="demo-upload-list" v-show="companyData.logo">
								<template v-if="companyData.logo">
									<img :src="companyData.logo">
									<div class="demo-upload-list-cover">
										<Icon type="ios-eye-outline" @click.native="handleView(companyData.logo)"></Icon>
										<Icon type="ios-trash-outline" @click.native="handleRemove(companyData)"></Icon>
									</div>
								</template>
								<template v-else>
									<Progress v-if="companyData.logo" :percent="companyData.percentage"></Progress>
								</template>
							</div>
							<Upload
								v-show="companyData.logo==''"
								ref="upload"
								name="image"
								:show-upload-list="false"
								:on-success="handleSuccess"
								:format="['jpg','jpeg','png']"
								:max-size="10240"
								:on-format-error="handleFormatError"
								:on-exceeded-size="handleMaxSize"
								:before-upload="handleBeforeUpload"
								multiple
								type="drag"
								:action="imageAction"
								style="display: inline-block;width:78px;">
								<div style="width: 78px;height:78px;line-height: 78px;">
									<Icon type="ios-camera" size="30"></Icon>

								</div>
							</Upload>
						</div>
					</FormItem>
					<FormItem label="企业海报">
						<div>
							<div class="demo-upload-list" v-show="companyData.poster">
								<template v-if="companyData.poster!=''">
									<img :src="companyData.poster">
									<div class="demo-upload-list-cover">
										<Icon type="ios-eye-outline" @click.native="handleView(companyData.poster)"></Icon>
										<Icon type="ios-trash-outline" @click.native="handleRemovePos(companyData)"></Icon>
									</div>
								</template>
								<template v-else>
									<Progress v-if="companyData.showProgress" :percent="companyData.percentage"></Progress>
								</template>
							</div>
							<Upload
								v-show="companyData.poster===''"
								ref="upload"
								name="image"
								:show-upload-list="false"
								:on-success="handleSuccessPos"
								:format="['jpg','jpeg','png']"
								:max-size="10240"
								:on-format-error="handleFormatError"
								:on-exceeded-size="handleMaxSize"
								:before-upload="handleBeforeUpload"
								multiple
								type="drag"
								:action="imageAction"
								style="display: inline-block;width:78px;">
								<div style="width: 78px;height:78px;line-height: 78px;">
									<Icon type="ios-camera" size="30"></Icon>
								</div>
							</Upload>
						</div>
					</FormItem>

					<FormItem label="别名">
						<Input v-model="companyData.alias" placeholder="别名..." class="input_style_200"></Input>
					</FormItem>

					<FormItem label="企业简介">
						<Input v-model="companyData.profile" type="textarea" :autosize="{minRows: 5,maxRows: 5}"
						       placeholder="Enter something..."></Input>
					</FormItem>

					<FormItem label="所属行业" style="margin-top:10px;">
						<Input v-model="companyData.industry" type="textarea" :autosize="{minRows: 5,maxRows: 5}"
						       placeholder="Enter something..."></Input>
					</FormItem>

				</Form>
			</div>

			<div slot="footer">
				<Button @click="companyBox=false">取消</Button>
				<Button type="primary" @click="clickOk(companyData.index)">确定</Button>
			</div>

		</Modal>


		<Modal title="图片预览" v-model="visiblePic">
			<img :src=" imgName" v-if="visiblePic" style="width: 100%">
		</Modal>


	</div>


</template>
<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import Cookies from 'js-cookie';
import excel from '@/libs/excel';
import ImagesOne from '@/view/example/image_order.vue';

export default {
	name: 'companyList',
	components: {
		ImagesOne,
	},
	data () {
		return {
			imageAction: config.Image_url + '?access-token=' + Cookies.get('accessToken'),
			tableLoading: false,
			switchState: true,
			visiblePic: false,
			companyBox: false,
			mainShow: true,
			spinShow: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'companyName',
			text: '',
			time:[],
			status: 'all',
			platform: 'all',
			columns: [],
			tableData: [],
			page: 1,
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			power: [],
			sortColumn: '',
			sortVal: '',
			companyData: {
				logo: '',
				poster: '',
			},
			searchTypeList: [
				{value: 'companyName', label: '企业名字'},
				{value: 'industry', label: '行业'}
			],
			statusList: [
				{value: 'all', label: '全部'},
				{value: 'certified', label: '已认证'},
				{value: 'noCertified', label: '未认证'}
			],
			platformList: [
				{value: 'all', label: '全部'},
				{value: 'MP-WEIXIN', label: '超级意见箱'},
				{value:'MP-WEIXIN-BOSSBOX', label: '老板意见箱'},
				{value: 'MP-DINGTALK', label: '钉钉'},
				{value: 'APP', label: 'APP'},
				{value: 'H5', label: 'H5-移动端'},
				{value: 'PC', label: 'PC-电脑端'},
			],
			selectTime: [],
			peopleStatus: 'claim',
			peopleStatusList: [
				{value: 'all', label: '全部'},
				{value: 'claim', label: '已认领'},
				{value: 'noClaim', label: '未认领'}
			],
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		handlePageSize (pageSize) {

			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			//console.log(this.pageSizeOpts);
			const data = {
				status: this.searchType,
				keyword: this.text,
				companyStatus: this.status,
				peopleStatus: this.peopleStatus,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				filter: this.switchState,
				time: this.time,
				platform: this.platform,
			}
			axios.request({
				url: "company/list",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.power = res.data.power;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMessageSor (val) {
			//console.log(val)
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		explode () {
			this.spinShow = true;
			const data = {
				status: this.searchType,
				keyword: this.text,
				companyStatus: this.status,
				peopleStatus: this.peopleStatus,
				page: 1,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				exportData: 1,
				filter: this.switchState,
				time: this.time,
			}
			axios.request({
				url: "company/list",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$refs.userTable.exportCsv({
						filename: '企业报表',
						columns: res.data.columns,
						data: res.data.items
					});
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const route = {
				name: 'queryCompany',
				query: {
					id
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)

			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		},
		editMessage (row, index) {
			this.companyData.id = row.id;
			this.companyData.companyName = row.companyName;
			this.companyData.logo = row.logo;
			this.companyData.poster = row.poster;
			this.companyData.profile = row.profile;
			this.companyData.industry = row.industry;
			this.companyData.alias = row.alias;
			this.companyData.index = index;
			this.companyBox = true;
		},
		cancel () {
			this.companyBox = false;
		},
		clickOk (index) {
			this.$Modal.confirm({
				title: '是否确认操作',
				content: '<p>是否确认修改企业信息！</p>',
				onOk: () => {
					this.saveMessage(index);
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},

		saveMessage (index) {
			const data = {
				id: this.companyData.id,
				data: this.companyData,
			}
			axios.request({
				url: "company/update",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData[index]['industry'] = res.data.industry;
					this.tableData[index]['alias'] = res.data.alias;
					this.tableData[index]['logo'] = res.data.logo;
					this.tableData[index]['poster'] = res.data.poster;
					this.tableData[index]['profile'] = res.data.profile;
					this.companyBox = false;
					this.$Message.success({
						content: '修改成功！',
						duration: 6,
						closable: true
					});
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		handleView (name) {
			this.imgName = name;
			this.visiblePic = true;
		},
		handleRemove (file) {
			this.companyData.logo = '';
			console.log(this.companyData.logo);
		},
		handleRemovePos (file) {
			this.companyData.poster = '';
			console.log(this.companyData.poster);
		},
		handleSuccess (res, file) {
			this.companyData.logo = res.data.url;
		},
		handleSuccessPos (res, file) {
			this.companyData.poster = res.data.url;
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: '格式提示',
				desc: '图片文件 ' + file.name + ' 格式不正确, 请选择 jpg 或 png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: '文件超出大小控制',
				desc: '文件  ' + file.name + ' 太大, 不能超过 10M.'
			});
		},
		handleBeforeUpload () {
			return true;
		},

	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
