<style lang="less">

</style>
<template>
	<!-- 意见列表 -->
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="table_style_more_one">
			<Table :loading="tableLoading" :columns=columns :data="tableMess" ref="userTable" @on-sort-change="getMessageSor">
				<template slot-scope="{ row,index }" slot="image" class="button_set">
					<div class="image-show">
						<img :src=" row.logo">
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<span style="color:#2d8cf0;cursor:pointer;" @click="showMessage(row)">查看</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>


	</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'sol',
	props: {
		dataValue: Object,
	},
	components: {},
	data () {
		return {
			tableLoading: false,
			modalShow: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: 20,
			page: 0,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			opinionMessage: {
				image: [1, 2, 3, 4, 5]
			}
		}
	},
	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				companyId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
			}
			axios.request({
				url: "company/opinion",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableMess = res.data.items;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.tableLoading = false;
					this.spinShow = false;
				}
			});
		},
		showMessage (data) {
			this.modalShow = true;
		}

	},
	created () {

	},
	mounted () {
		//this.getMessage(1);
		this.columns = this.dataValue.data.columns;
		this.tableMess = this.dataValue.data.items;
		this.tableNumber = this.dataValue.data.total;
		this.page = this.dataValue.data.page;
	}
}

</script>
