<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List header="企业详情" footer="" border size="large" style="font-weight: bold;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row>
				<Col span="24" style="display:flex;align-items: center;">
					<div class="image-show-member">
						<img :src=" tableData.logo">
					</div>
					<div class="span-show-member">
						<h1>{{ tableData.name }}</h1>
						<h4 style="margin-top:10px;">地址：{{ tableData.address }} </h4>
						<h4 style="margin-top:10px;">所属行业：{{ tableData.industry }} </h4>
						<h4 style="margin-top:10px;">企业简介：{{ tableData.profile }}</h4>
					</div>
				</Col>
			</Row>
		</List>
		<List header="企业基本信息" footer="" border size="large" style="font-weight: bold;margin-top:10px;">
			<div style="margin:5px;">
				<Row>
					<Col span="2" class="company_modal_row"><span>注册平台</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.platform }}</span></Col>
					<Col span="2" class="company_modal_row"><span>企业组织</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{tableData.companyUser}}</span></Col>
					<Col span="2" class="company_modal_row"><span>更新时间</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.updateTime }}</span></Col>
				</Row>
				<Row>
					<Col span="2" class="company_modal_row"><span>意见箱</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.companyBox }}</span></Col>
					<Col span="2" class="company_modal_row"><span>收到意见</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.companyOp }}</span></Col>
					<Col span="2" class="company_modal_row"><span >打赏</span></Col>
					<Col span="6" class="company_modal_row_two" ><span >{{ tableData.money }}</span></Col>
				</Row>
				<Row>
					<Col span="2" class="company_modal_row"><span>是否认证</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.auth }}</span></Col>
					<Col span="2" class="company_modal_row"><span>认证人</span></Col>
					<Col span="6" class="company_modal_row_two"><span>{{ tableData.authName }}</span></Col>
					<Col span="2" class="company_modal_row"><span v-if="power.companyMobile">认证人手机</span></Col>
					<Col span="6" class="company_modal_row_two" ><span v-if="power.companyMobile">{{ tableData.mobile }}</span></Col>
				</Row>

			</div>
		</List>
		<div class="table_style_more">
			<Tabs type="card">
				<TabPane label="企业意见箱">
					<comment :dataValue="commentValue" v-if="showCommentValue"/>
				</TabPane>
				<TabPane label="组织架构">
					<member :dataValue="memberValue" v-if="showMemberValue"/>
				</TabPane>
				<TabPane label="征集意见"  v-if="power.companyComment">
					<sol :dataValue="solValue" v-if="showSolValue" />
				</TabPane>
			</Tabs>
		</div>

		<div class="footer" v-show="0">
			<Button @click="close" type="primary">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>
			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import sol from './company_message_sol.vue'
import comment from './company_message_comment.vue'
import member from './company_message_member.vue'

export default {
	name: 'company_message',
	components: {
		sol,
		comment,
		member,
	},
	data () {
		return {
			spinShow: false,
			showSolValue: false,
			showCommentValue: false,
			showMemberValue: false,
			solValue: [],
			commentValue: [],
			memberValue: [],
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			power: [],
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryCompany',
				query: {
					id: this.$route.query.id
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "company/message",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData = res.data;
					this.power = res.data.power;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getSol (page) {
			const data = {
				companyId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "company/opinion",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.solValue = res;
					this.showSolValue = true;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getComment (page) {
			const data = {
				companyId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "company/box",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.commentValue = res;
					this.showCommentValue = true;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		getMember (page) {
			const data = {
				companyId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "company/member",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.memberValue = res;
					this.showMemberValue = true;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		//'$route': 'getMessage'
		'$route' () {
			this.getMessage();
			this.showSolValue = false;
			this.getSol(0);
			this.showCommentValue = false;
			this.getComment(0);
			this.showMemberValue = false;
			this.getMember(0);
		}
	},
	mounted () {
		this.getMessage();
		this.getSol(0);
		this.getComment(0);
		this.getMember(0);
		//alert(this.$route.query.id);
	}
}

</script>
