<style lang="less">

</style>
<template>
	<!-- 组织架构 -->
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="table_style_more_one">
			<Table :columns=columns :data="tableMess" ref="userTable">
				<template slot-scope="{ row,index }" slot="avatar" class="button_set">
					<Avatar :src="row.avatar" size="large"/>
				</template>
				<template slot-scope="{ row,index }" slot="message" class="button_set">
					<span v-show="row.roleValue==0">{{ row.role }}</span>
					<span style="color:#57a3f3;" v-show="row.roleValue==1">{{ row.role }}</span>
					<span style="color:#ff9900;" v-show="row.roleValue==2">{{ row.role }}</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
		</div>

	</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'member',
	props: {
		dataValue: Object,
	},
	components: {},
	data () {
		return {
			modalShow: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			opinionMessage: {
				image: [1, 2, 3, 4, 5]
			}
		}
	},
	methods: {
		getMessage (page) {
			const data = {
				companyId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "company/member",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableMess = res.data.items;
					this.tableNumber = res.data.total;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showMessage (data) {
			this.modalShow = true;
		}

	},
	created () {

	},
	mounted () {
		//this.getMessage(1);
		this.columns = this.dataValue.data.columns;
		this.tableMess = this.dataValue.data.items;
		this.tableNumber = this.dataValue.data.total;
		this.page = this.dataValue.data.page;
	}
}

</script>
