<style lang="less">


</style>

<template>
    <div class="main_style">
        <Spin fix v-if="spinShow" style="position: relative;">
            <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
            <div>加载中......</div>
        </Spin>
        <div class="search-con search-con-top select_type_header" style="height: 80px;">
            <Button class="search-btn" type="primary" @click="showMessage()"
                    icon="md-add" style="float: right;margin-right: 20px">增加
            </Button>
        </div>

        <div class="table_style">
            <Table :loading="tableLoading" :columns="columns" :data="tableData">

                <template slot-scope="{ row,index }" slot="switch" class="button_set">
                    <i-Switch @on-change="changeStatus(row)" v-model="row.status" true-color="#13ce66"
                              false-color="#ff4949"
                              size="large">
                        <span slot="open"> 开启 </span>
                        <span slot="close"> 关闭 </span>
                    </i-Switch>
                </template>

                <template slot-scope="{ row,index }" slot="edit" class="button_set">
                    <Button @click="deleteMsg(row,index)" type="error" icon="md-trash" style="margin:5px;">删除</Button>
                </template>
            </Table>
        </div>
        <div class="page_style">
            <Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="getMessage" show-total/>
        </div>
        <Modal
            width=550px
            v-model="isShowModel"
            title="增加热门意见箱"
            @on-cancel="cancel">
            <div style="">
                <Form ref="companyData" :label-width="100"
                      style="margin-top:10px;">
                    <FormItem label="搜索">
                        <Input v-model="keyword" type="text" style="width:300px" placeholder="输入意见箱名字">
                        </Input>
                        <Button @click="search()" style="margin-left: 5px" type="primary" icon="ios-search">搜索</Button>
                    </FormItem>
                    <FormItem label="选择">
                        <span style="color: red">公开，未暂停的意见箱</span>
                        <Select v-model="boxData.select" prefix="ios-home" style="width:300px" filterable
                                boxId-in-boxName @on-change="selectBox">
                            <Option v-for="item in boxList" :value="item.boxId">{{ item.boxName }}</Option>
                        </Select>
                    </FormItem>
                </Form>
            </div>
            <div slot="footer">
                <Button @click="cancel">取消</Button>
                <Button type="primary" @click="asyncOK()">确定</Button>
            </div>
        </Modal>

    </div>

</template>


<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";

export default {
    name: 'companyHot',
    data() {
        return {
            keyword: '',
            boxData: [],
            boxList: [
                {
                    boxId: 0,
                    boxName: ""
                }
            ],
            boxId: 0,
            list: [],
            columns: [],
            tableData: [],
            pageSize: 10,
            tableNumber: 0,
            page: 1,
            isShowModel: false,
            spinShow: false,
            tableLoading: false
        }
    },
    methods: {
        changeStatus(row) {
            const data = {boxId: row.id, status: row.status}
            console.log(data)
            axios.request({
                url: "box-hots/switch/status",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                this.spinShow = false;
                if (res.code === 0) {
                    this.$Message.success({
                        content: '操作成功！',
                        duration: 6,
                        closable: true
                    });
                } else {
                    this.spinShow = false;
                    row.status = res.data.status;
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            });
        },
        getMessage(page) {
            if (page > 0) {
                this.tableLoading = true;
            } else {
                this.spinShow = true;
            }
            this.tableLoading = true;
            const data = {
                page: page,
                pageSize: this.pageSize,
            }
            axios.request({
                url: "box-hots/get",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                if (res.code === 0) {
                    this.columns = res.data.columns;
                    this.tableData = res.data.items;
                    this.tableNumber = res.data.total;
                    this.page = res.data.page;
                    this.tableLoading = false;
                    this.spinShow = false;
                } else {
                    this.tableLoading = false;
                    this.spinShow = false;
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            });
        },
        asyncOK() {
            this.saveMessage(this.boxId);
        },
        saveMessage(boxId) {
            if (boxId === 0) {
                this.$Message.error({
                    content: "内容不能为空",
                    duration: 2,
                    closable: true
                });
                return
            }
            const data = {
                boxId: boxId
            }
            axios.request({
                url: "box-hots/create",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                if (res.code === 0) {
                    this.$Message.success({
                        content: '添加成功！',
                        duration: 1,
                        closable: true
                    });
                    this.getMessage(1);
                    this.isShowModel = false;
                } else {
                    this.$Message.error({
                        content: res.message,
                        duration: 6,
                        closable: true
                    });
                }
            });
        },
        cancel() {
            this.isShowModel = false;
        },
        showMessage() {
            this.boxId = 0;
            this.boxList = [
                {
                    boxId: 0,
                    boxName: ""
                }
            ];
            this.keyword = '';

            this.isShowModel = true;
        },
        search() {
            if (this.keyword === '') {
                this.$Message.error({
                    content: "内容不能为空",
                    duration: 2,
                    closable: true
                });
                return
            }
            const data = {
                keyword: this.keyword
            }
            axios.request({
                url: "box-hots/search",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                if (res.code === 0) {
                    console.log(res)
                    this.boxList = res.data
                    this.$Message.success({
                        content: '搜索成功！',
                        duration: 1,
                        closable: true
                    });
                } else {
                    this.$Message.error({
                        content: res.message,
                        duration: 2,
                        closable: true
                    });
                }
            });
        },
        selectBox(value) {
            if (value) {
                this.boxId = value;
            }
        },
        deleteMsg(row, index) {
            this.$Modal.confirm({
                title: '是否确认删除',
                content: '<p>删除之后热门将不再显示。</p>',
                onOk: () => {
                    this.delMessage(row, index);
                },
                onCancel: () => {
                    // this.$Message.info('Clicked cancel');
                }
            });
        },
        delMessage(row, index) {
            this.tableLoading = true;
            const data = {boxId: row.id}
            axios.request({
                url: "box-hots/delete",
                data,
                method: "post"
            }).then((response) => {
                const res = response.data;
                this.tableLoading = false;
                if (res.code === 0) {
                    this.$Message.success({
                        content: '删除成功！',
                        duration: 1,
                        closable: true
                    });
                    this.tableNumber = this.tableNumber - 1;
                    this.tableData.splice(index, 1);
                } else {
                    this.tableLoading = false;
                    this.$Message.error({
                        content: res.message,
                        duration: 2,
                        closable: true
                    });
                }
            });
        },
    },
    created() {

    },
    mounted() {
        this.getMessage(1);
    }
}


</script>