<style lang="less" scoped>

.ivu-switch-large.ivu-switch-checked:after {
    left: 49px;
}



</style>

<template>
<div class="main_style">
<Spin fix v-if="spinShow" >
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
</Spin>
		<div class="header_ba">
           <i class="header_ba_i"></i>小程序首页自定义设置  
		</div>
		<div class="header_ba_two"> <span>（已添加标签：{{tagMessage.length}} 个）</span></div>
		<div style="height:100%">
		
			<div class="mobile_style_applets">
					
					<div class="body_father">
					
								<Poptip  width="500"  v-for="(item,index) in tagMessage" :placement="item.position" transfer>
					                <div class="body_message" >
					                		<div class="tag_button" >
					                		  <div class="back_style"><img :src="item.back" style="width: 100%;height: 100%;object-fit: contain;border-radius: 5px;" v-show="item.back!=''"/></div>
					                		  <div class="logo_tittle"><Avatar  style="border-radius: 600px; background: #f8f8f900;" size="60" :src="item.logo" /></div>
					                		   <div class="title_style">{{item.title}}</div>
					                		   <div class="titleTwo_style">{{item.secTitle}}</div>
					                		  
					                		
					                </div>
					 
					                 <div class="titlebutton_style" v-show="0">
					                		   <Button type="info" ghost style="margin-right:5px;" v-show="index">上移</Button>
					                		   <Button type="info" ghost v-show="tagMessage.length > (index+1)">下移</Button></div>
					                		</div>
					                	
					                		
						                <div  slot="content" class="tag_message">
						                
							                <div style="margin:10px 0px 10px 0px;border-bottom: 1px solid #ff9900;">
							                	<div style="display: inline-block;"><h2>标签 {{index}} </h2></div>
							                	 <Button type="primary" ghost  @click="delTag(index)" style="margin:5px 0px 5px 344px;">删除</Button>
											</div>
											
						                     <Form :label-width="80" style="margin:20px 0px 0px 0px;" :model="item" inline>
						                     
						                     	<FormItem label="一级标题">
						            				<Input  v-model="item.title"  placeholder="" style="width:200px;" clearable ></Input>
						        				</FormItem><br>
						        				
						        				<FormItem label="二级标题">
						            				<Input v-model="item.secTitle" placeholder="" style="width:200px;" clearable ></Input>
						        				</FormItem><br>
						        				
						        				<FormItem label="跳转">
						            				<Input v-model="item.url" placeholder="" style="width:200px;" clearable v-show="item.open"></Input>
						            				 <Select v-model="item.url" style="width:200px;" v-show="!item.open">
								        		        <Option  value="pages/company_select/company_select">企业征集</Option>
								        		        <Option  value="pages/solicitation_form/solicitation_form">个人征集</Option>
								        		        <Option  value="pages/comment_external/comment_external">提意见</Option>
								        		     </Select>
						            				 <i-Switch size="large" true-color="#13ce66" false-color="#ff4949" style="margin-left:5px;width: 70px;"
													    	v-model="item.open"
													     >
													        <span slot="open"> 网 页</span>
													        <span slot="close">小程序</span>
													    </i-Switch>
						        				</FormItem><br>
						        				
						        				<FormItem label="备注">
						            				<Input  v-model="item.remark"  placeholder="" style="width:300px;" 
						            				type="textarea" :autosize="{minRows: 3,maxRows: 5}" ></Input>
						        				</FormItem><br>
						        			
						        				<FormItem label="背景图片">
													<ImagesOne v-model="index.back" @selectImg="openImagesModalOne" 
														:url="item.back"
														:value="item.back"
														:number="index"
													/>
						        				</FormItem>
						        				
						        				<FormItem label="logo图片">
						            				<ImagesOne v-model="index.logn" @selectImg="openImagesModalTwo" 
							            				:url="item.logo"
														:value="item.logo"
														:number="index"
						            				/>
						        				</FormItem><br>
						        				
						        				
						                     </Form>
						                     
						                </div>
					            </Poptip>
						
					            
							
					</div>
					
					<!--
					<div v-for="(item,index) in tagMessage">
					<div class="body_message"  >
					                		<div class="tag_button" >
					                		  <img :src="item.back" style="height: 100%;">
					                		   <div class="title_style">{{item.title}}</div>
					                		   <div class="titleTwo_style">{{item.secTitle}}</div>
					                		   <div class="logo_tittle"><Avatar  style="border-radius: 60px;" size="60" :src="item.logo" /></div>
					                		   <div style="height:100%;text-align: center;" v-show="0">
					                				<span style="line-height: 110px;font-size: 50px;">+</span>
					                		   </div>
					                		</div>
					                </div>
						        <div  class="tag_message">
						         <Form :label-width="80" style="margin:20px 0px 0px 0px;" :model="item">
						                     
						                     	<FormItem label="一级标题">
						            				<Input  v-model="item.title"  placeholder="" style="width:200px;" clearable ></Input>
						        				</FormItem>
						        				
						        				<FormItem label="二级标题">
						            				<Input v-model="item.secTitle" placeholder="" style="width:200px;" clearable ></Input>
						        				</FormItem>
						        				
						        				<FormItem label="背景图片">
													<ImagesOne v-model="index.back" @selectImg="openImagesModalOne" 
														:url="item.back"
														:value="item.back"
														:number="index"
													/>
						        				</FormItem>
						        				
						        				<FormItem label="logo图片">
						            				<ImagesOne v-model="index.logn" @selectImg="openImagesModalTwo" 
							            				:url="item.logo"
														:value="item.logo"
														:number="index"
						            				/>
						        				</FormItem>
						        				
						                     </Form>
						        </div>        
						</div>
						   -->  
						      
						<div class="button_bottom">
							<Button type="primary" ghost @click="addTag()">增加标签</Button>
						</div>
							
					
						
			</div>

		</div>
		
		<div class="footer" >
	      <Button @click="" v-show="0" >关闭本页</Button>
	      <Button v-show="0" type="default" @click="">上一步</Button>
	      <Button  type="primary" @click="saveMessage()">保存并发布</Button>
	      <Button v-show="0" type="primary" @click="">保存</Button>
	      <Button v-show="0" type="success" @click="">下一步</Button>
		</div>
</div>

</template>




<script>
import { mapMutations } from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import "./style.less";
import back from '@/assets/images/adminImg/back.png'
import logo from '@/assets/images/adminImg/logo.png'
import ImagesOne from '@/view/example/image_order.vue';

export default {
	
	name: 'customMessage',
	components: {
		 ImagesOne,
	},
	data () {
		return{
			spinShow:true,
			tagMessage:[{
				title:'标题',
				secTitle:'副标题',
				back:'',
				backValue:'',
				logo:'',
				logoValue:'',
				remark:'',
				url:'',
				open:false,
				position:'right',
				}],
		}
	},
	
	methods: {
		addTag(){
			if(this.tagMessage.length>=5){
				this.$Notice.error({
                    title: '增加提示',
                    desc: '标签数量已经达到上限，添加失败！ '
                });
			}else{
				var num=this.tagMessage.length;
				if(num>=2){
					var position='right-end'
				}else if(num==1){
					var position='right-start'
				}else{
					var position='right'
				}
				var sonList={
						title:'标题',
						secTitle:'副标题',
						back:'',
						backValue:'',
						logo:'',
						logoValue:'',
						remark:'',
						url:'',
						open:false,
						position:position,
						};
				this.tagMessage.push(sonList);
			}
			
		},
		delTag(index){
			this.$Modal.confirm({
                title: '删除标签',
                content: '<p>是否确认删除该标签，删除后设置将被清空！</p>',
                onOk: () => {
                	this.tagMessage.splice(index,1);
                },
                onCancel: () => {
                   // this.$Message.info('Clicked cancel');
                }
            });
			
		},
		
		openImagesModalOne(res){
	  		//console.log(res);//子组件传进来的数据
	  		//console.log(this.tagMessage[res.type].back);
	  		
	  		this.tagMessage[res.type].back=res.data.url;
	  		
	  		this.tagMessage[res.type].backValue=res.data.name;
	 		//this.formValidate.headerValue=res.data.name;
	 	
	  	},
	  	
	  	openImagesModalTwo(res){
	  		console.log(res.data.url);//子组件传进来的数据
	  		this.tagMessage[res.type].logo=res.data.url;
	  		this.tagMessage[res.type].logoValue=res.data.name;
	 		//this.formValidate.headerValue=res.data.name;
	 	
	  	},
	  	getMesssage(){
	  		this.spinShow=true;
			const data ={}
			axios.request({
		          url: "appletHomePage/getAppletHomePage",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	this.spinShow=false;
		        	if(res.code==0){
		        		this.tagMessage=res.data;
		        	}else{
		        		this.spinShow=false;
		        		this.$Notice.error({
		        			duration:0,
		                    title: '提示',
		                    desc:res.message
		                });
		        	}
		        });
		 },

		 saveMessage(){
			 this.spinShow=true;
				const data ={message:this.tagMessage};
				axios.request({
			          url: "appletHomePage/updateAppletHomePage",
			          data,
			          method: "post"
			        }).then((response)=> {
			        	var res = response.data;
			        	this.spinShow=false;
			        	if(res.code==0){
			        		this.spinShow=false;
			        		this.$Notice.success({
			        			duration:0,
			                    title: '提示',
			                    desc:res.message
			                });
			        	}else{
			        		this.spinShow=false;
			        		this.$Notice.error({
			        			duration:0,
			                    title: '提示',
			                    desc:res.message
			                });
			        	}
			        });
		}
	},
	created () {
		
	},
	watch: {
	    // 如果路由有变化，会再次执行该方法
	 
	  },
	mounted () {
		//alert(this.$route.query.id);
		this.spinShow=false;
		this.getMesssage();
	}
}



</script>