.mobile_style_applets{
	margin:30px 10px 10px 10px;
	width:370px;
	height:550px;
	border-radius: 20px;
	background: #F5F6F7;
	display: block;
	float:left;
	position:relative;
	text-align:center;
	 position: absolute;
}
.demo{
	position:absolute;
	width:340px;
	bottom:0;
	margin-left:-100px;
	
}
.button_style{
	width:92px;
	height: 35px;
}

.mobile_style_show{
	margin:10px 10px 10px 30px;
	width:650px;
	height:500px;
	border-radius: 20px;
	border: 2px solid #dcdee2;
	display: block;
	float:left;
}

.buttonAdd{
	width:125px;
}

.buttonFuck{
	width: 92px;
	display: inline-block;
	
}

.buttonFuckTwo-a{
	margin-left: -15px;
	text-align: center;
    margin-bottom: 10px;
    background: #ffffff;
	border-radius: 10px;
}
.buttonFuckTwo-b{
	margin-left: -15px;
	text-align: center;
    margin-bottom: 10px;
    background: #ffffff;
	border-radius: 10px;

}
.buttonFuckTwo-c{
    margin-left: -15px;
	text-align: center;
    margin-bottom: 10px;
    background: #ffffff;
	border-radius: 10px;
	
}

.poptitle{
	content: " ";
    bottom: 1px;
    margin-left: -7px;
    border-bottom-width: 0;
    border-top-width: 7px;
    border-top-color: #fff;
}

.body_father{
	position: absolute;
    width: 100%;
    height:410px;
    top: 15%;
    overflow: scroll;
}

::-webkit-scrollbar {
	display: none;
}

.body_message{
	width: 342px;
    height: 115px;
    background: #ffffff;
    margin: 5px auto;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.button_bottom{
    bottom: 0;
 	text-align: center;
	margin:15px auto;
	width: 100%;
	position: absolute;

}

.tag_button{
  height: 100%;
  border-radius: 5px;
  background: #fff;
}

.title_style{
	margin: -90px 0px 0px 20px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	line-height: 30px;

}
.titleTwo_style{
	margin: 0px 0px 0px 20px;
	text-align: left;
	line-height: 20px;

}
.titlebutton_style{
	margin: 2px 10px 10px 0px;
    text-align: right;
}
.back_style{
	height: 100%;
	border-radius: 5px;
}
.logo_tittle{
	text-align: right;
	line-height: 85px;
	margin: -93px 48px 0px 0px;
}

.tag_message{

}
