<style lang="less">

</style>

<template>


	<div class="main_style">
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col">
					<Option v-for="item in searchTypeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
				</Select>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
		</div>
		<div class="table_style">
			<Table :columns="columns" :data="tableData">
				<template slot-scope="{ row }" slot="edit" class="button_set">
					<span @click="showMessage(row)" class="span_style_click_blue">详情</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>

		<Modal
			v-model="modalShow"
			title="内容详情" width="600">
			<div style="margin-left:10px;height:550px;overflow:scroll;overflow-x:hidden;">
				<Form :label-width="100">
					<FormItem v-for="(item,index) in messageList" :label="item.index" prop="adminName">
						<span>{{item}}</span>
					</FormItem>
				</Form>
			</div>
			<div slot="footer">
				<Button @click="modalShow=false">取消</Button>
			</div>
		</Modal>

	</div>


</template>


<script>
import axios from "@/libs/api.request";
import config from '@/config/index.js';
import "@/view/indexBox.less";

export default {
	name: 'adminLog',
	data () {
		return {
			modalShow: false,
			searchTypeList: [
				{
					value: 'all',
					label: '全部'
				},
				{
					value: 'merge_company',
					label: '合并企业信息'
				},
				{
					value: 'admin_login',
					label: '登录'
				},
			],
			searchType: 'all',
			text: '',
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			messageList: [],
		}
	},
	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			const data = {
				searchType: this.searchType,
				text: this.text,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "system-log/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		showMessage (row) {
			this.messageList = row.messageArray;
			this.modalShow = true;
		}

	},
	mounted () {
		this.getMessage(0);
	}
}

</script>
