<style lang="less">

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">

			<div class="search_type">
				<div class="searchTopText">状态</div>
				<Select v-model="status" class="search-col">
					<Option v-for="item in statusList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Button @click="getMessage()" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div class="search_type">
				<div>&nbsp;&nbsp;</div>
				<Button @click="showMessage(formValidate,'add')" class="search-btn" type="primary" icon="ios-add">添加角色</Button>
			</div>
		</div>

		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData">
				<template slot-scope="{ row,index }" slot="status_type">
					<span v-show="row.status_show==1" style="color:green;">{{ row.status_name }}</span>
					<span v-show="row.status_show==2" style="color:red;">{{ row.status_name }} </span>
				</template>
				<template slot-scope="{ row }" slot="edit" class="button_set">
					<span @click="showMessage(row,'edit')" class="span_style_click_blue">编辑</span> |
					<span @click="getRoleList(row.id)" class="span_style_click_green">权限管理</span> |
					<span @click="deleteRoleList(row.id)" class="span_style_click_red">删除角色</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-sizer/>
			<div style="margin-top: -15px;">共 {{ tableNumber }} 条数据</div>
		</div>


		<!-- ***************** -->
		<Modal
			v-model="modalShow"
			:title="modalTitle"
			:loading="loading"
			@on-ok="asyncOK('formValidate')">
			<div>
				<Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
					<FormItem label="名称" prop="name">
						<Input v-model="formValidate.name" placeholder=""></Input>
					</FormItem>

					<FormItem label="备注" prop="remark">
						<Input v-model="formValidate.remark" type="textarea" :autosize="{minRows: 2,maxRows: 5}" placeholder=""></Input>
					</FormItem>
				</Form>
			</div>


		</Modal>

		<Modal
			v-model="modalShowRole"
			title="角色权限管理"
			@on-ok="powerIn()">
			<div style="margin-left:10px;height:450px;overflow:scroll;overflow-x:hidden;">
				<Tree ref="treeCheck" :data="roleTree" show-checkbox multiple check-strictly></Tree>
			</div>
			<div slot="footer">
				<Button @click="modalShowRole=false">取消</Button>
				<Button type="primary" @click="powerIn()">保存</Button>
			</div>


		</Modal>


	</div>
</template>
<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
	name: 'export-excel',
	data () {
		return {
			tableLoading: false,
			spinShow: false,
			roleIdSelect: '',
			roleTree: [],
			modalShowRole: false,
			showMes: '1',
			modalTitle: '',
			modalShow: false,
			loading: true,
			searchType: 'account',
			text: '',
			status: '0',
			columns: [],
			tableData: [],
			tableNumber: 0,
			psge: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			statusList: [
				{
					value: '0',
					label: '全部'
				},
				{
					value: 'stay',
					label: '正常'
				},
				{
					value: 'delete',
					label: '已删除'
				},
			],
			formValidate: {
				name: '',
				remark: '',
				id: 0,
			},
			ruleValidate: {
				name: [
					{required: true, message: '不能为空', trigger: 'blur'}
				],
			},

		}
	},
	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				status: this.status,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "admin-roles/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.tableLoading = false;
					this.spinShow = false;
				}
			});
		},
		showMessage (row, typed) {
			if (typed == 'add') {
				this.modalTitle = "添加角色";
				this.formValidate = {
					name: '',
					remark: '',
					id: 0,
				};
				this.showMes = 1;
			} else {
				this.modalTitle = "编辑角色";
				this.formValidate.name = row.name;
				this.formValidate.remark = row.remark;
				this.formValidate.id = row.id;
				this.showMes = 0;
			}
			this.modalShow = true;
		},
		asyncOK (name) {
			this.loading = true;
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage('admin-roles/create');
				} else {
					this.modalShow = true;
					this.$Message.error('必要信息不能为空!');
					this.loading = false;
				}
			})
		},
		saveMessage (url) {
			const data = {
				role: this.formValidate,
			}
			//console.log( this.formValidate);return;
			axios.request({
				url: url,
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.modalShow = false;
					this.loading = false;
					this.formValidate = {};
					this.$Message.success({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.getMessage(1);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.modalShow = true;
					this.loading = false;
				}
			})
		},
		getRoleList (role) {
			this.tableLoading = true;
			this.roleIdSelect = role;
			const data = {
				roleId: role,
			}
			axios.request({
				url: 'admin-roles-menus/get',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;

				if (res.code == 0) {
					this.roleTree = res.data.arr;
					this.modalShowRole = true;
					this.tableLoading = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.tableLoading = false;
				}
			})
		},
		powerIn () {
			//console.log(this.$refs.treeCheck.getCheckedNodes());
			var rolelistArray = this.$refs.treeCheck.getCheckedNodes();
			var roleList = [];
			for (let j = 0; j < rolelistArray.length; j++) {
				const insertList = {menuId: rolelistArray[j]['value'], pId: rolelistArray[j]['pId'], level: rolelistArray[j]['level']};
				roleList.push(insertList);
			}
			const data = {
				roleId: this.roleIdSelect,
				roleList: roleList,
			}
			//console.log(roleList);
			axios.request({
				url: 'admin-roles/update',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.modalShowRole = false;
					this.$Message.success({
						content: res.message,
						duration: 6,
						closable: true
					});
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});

				}
			})
		},
		deleteRoleList (role) {
			const data = {
				roleId: role,
			}
			axios.request({
				url: 'admin-roles/delete',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.getMessage(this.page);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			})
		},
	},
	created () {

	},
	mounted () {
		this.getMessage(0);
	}
}
</script>
