<template>
	<div class="editor-wrapper">
		<div :id="editorId" style="min-width:650px;"></div>
	</div>
</template>

<script>
import Cookies from 'js-cookie';
import config from '@/config/index.js';
import Editor from 'wangeditor'
import {oneOf} from '@/libs/tools'

export default {
	name: 'Editor',
	props: {
		value: {
			type: String,
			default: ''
		},
		height:{
			type: Number,
			default: 500
		},
		/**
		 * 绑定的值的类型, enum: ['html', 'text']
		 */
		valueType: {
			type: String,
			default: 'html',
			validator: (val) => {
				return oneOf(val, ['html', 'text'])
			}
		},
		/**
		 * @description 设置change事件触发时间间隔
		 */
		changeInterval: {
			type: Number,
			default: 200
		},
		/**
		 * @description 是否开启本地存储
		 */
		cache: {
			type: Boolean,
			default: false
		}
	},
	computed: {
		editorId () {
			return `editor${this._uid}`
		}
	},
	methods: {
		setHtml (val) {
			this.editor.txt.html(val)
		}

	},
	mounted () {
		//const editor = new E('#div1')
		this.editor = new Editor(`#${this.editorId}`)
		this.editor.config.onchange = (html) => {
			let text = this.editor.txt.text()
			//if (this.cache) localStorage.editorCache = html
			this.$emit('input', this.valueType === 'html' ? html : text)
			this.$emit('on-change', html, text)
		}
		this.editor.config.onchangeTimeout = this.changeInterval
		this.editor.config.uploadImgShowBase64 = false;
		this.editor.config.height = this.height;
		this.editor.config.uploadImgMaxSize = 10 * 1024 * 1024;
		//图片服务器上传图片
		this.editor.config.uploadImgServer = config.Image_url + '?access-token=' + Cookies.get('accessToken'),
			this.editor.config.uploadFileName = 'image';
		//图片上传图片服务器之后回调
		this.editor.config.uploadImgHooks = {
			customInsert: function (insertLinkImg, result, editor) {
				//console.log(result);
				//插入图片
				insertLinkImg(result.data.url);
			},
			fail: function fail (xhr, editor, result) {
				// 图片上传并返回结果，但图片插入错误时触发
				console.log(result);
			},

		};
		// create这个方法一定要在所有配置项之后调用
		this.editor.create()
		// 如果本地有存储加载本地存储内容

		setTimeout(() => {
			this.editor.txt.html(this.value)
		}, 1000);

		console.log(this.value);

	}
}
</script>
<style lang="less">
/*  .editor-wrapper *{
  z-index: 99 !important;
}
 .w-e-toolbar .w-e-droplist{
	z-index: 30000 !important;
}
.w-e-menu{
  z-index: 200 !important;
}
.w-e-text-container{
  z-index: 100 !important;
} 
*/
/* .w-e-toolbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 5px;
  flex-wrap: wrap;
  
} */

</style>
