<style lang="less">

</style>
<template>
<div class="main_style">
<Form ref="formValidate" :model="formItem"  :label-width="80">
	<FormItem label="多图片" prop="logo" style="line-height:80px;">
		<ImagesMore @selectImg="openImagesModal" :sendData="formItem.logo"/>
	</FormItem>
		<FormItem label="单图片" prop="logo_one" style="line-height:80px;">
		<ImagesOne @selectImg="openImagesModalOne" :sendData="logo_one"/>
	</FormItem>
	<FormItem label="富文本" prop="logo_one">
		<edit @on-change="editMessage" :value="editMes" />
	</FormItem>
</Form>

<Button type="primary" @click="gotoEdit">编辑框</Button>

</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import ImagesMore from './images_more.vue'
import ImagesOne from './images_one.vue'
import edit from './edit.vue'
export default {
	name: 'admin',
	 components: {
		    ImagesMore,
		    ImagesOne,
		    edit,
		  },
  	data () {
	    return {
	    	 formItem: {
	    	        logo: [],
	    	        logo_one:'',
	    	        goods_brand_code: '',
	    	        goods_brand_name: '',
	    	        goods_brand_id: 0
	    	      },
    	      logo_one:{
    	        	url:'http://www.one.com/storage/attachments/2020/12/0v1nwx3p5fec29af2a920.png',
    	        	name:'attachments/2020/12/0v1nwx3p5fec29af2a920.png',
    	        },
    	      editMes:'1223333333',
	    	}
    },
    
    methods: {
    	openImagesModal(data){
    		console.log(data);//子组件传进来的数据
    	},
    	openImagesModalOne(data){
    		console.log(data);//子组件传进来的数据
    	},
    	toImage(){
    		
    	},
    	//富文本插件
    	editMessage(data){
    		//console.log(data);
    		this.editMes=data;
        },
    	gotoEdit(){
			//this.$router.push({name:'editMessage'});
        	console.log(this.editMes);
        },
    },
	created () {
	
	},
	mounted () {
		  
	}
}

</script>