<style>
.demo-upload-list {
	display: inline-block;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border: 1px solid transparent;
	border-radius: 4px;
	overflow: hidden;
	background: #fff;
	position: relative;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	margin-right: 4px;
}

.demo-upload-list img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.demo-upload-list-cover {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .6);
}

.demo-upload-list:hover .demo-upload-list-cover {
	display: block;
}

.demo-upload-list-cover i {
	color: #fff;
	font-size: 20px;
	cursor: pointer;
	margin: 0 2px;
}
</style>
<template>
	<div>
		<div class="demo-upload-list" v-show="uploadList.url">
			<template v-if="uploadList.url">
				<img :src="uploadList.url">
				<div class="demo-upload-list-cover">
					<Icon type="ios-eye-outline" @click.native="handleView(uploadList.url)"></Icon>
					<Icon type="ios-trash-outline" @click.native="handleRemove(uploadList)"></Icon>
				</div>
			</template>
			<template v-else>
				<Progress v-if="uploadList.showProgress" :percent="uploadList.percentage"></Progress>
			</template>
		</div>
		<Upload
			v-show="uploadList.url==''"
			ref="upload"
			name="image"
			:show-upload-list="false"
			:default-file-list="defaultList"
			:on-success="handleSuccess"
			:format="['jpg','jpeg','png']"
			:max-size="204800"
			:on-format-error="handleFormatError"
			:on-exceeded-size="handleMaxSize"
			:before-upload="handleBeforeUpload"
			multiple
			type="drag"
			:action="imageAction"
			style="display: inline-block;width:78px;">
			<div style="width: 78px;height:78px;line-height: 78px;">
				<Icon type="ios-camera" size="30"></Icon>

			</div>
		</Upload>
		<Modal title="图片预览" v-model="visible">
			<img :src=" imgName" v-if="visible" style="width: 100%">
		</Modal>

	</div>
</template>

<script>
import config from '@/config/index.js';
import Cookies from 'js-cookie';

export default {
	name: 'images_one',
	props: ['sendData'], // 用来接收父组件传给子组件的数据
	data () {
		return {
			imageAction: config.Image_url + '?access-token=' + Cookies.get('accessToken'),
			defaultList: [],
			imgName: '',
			visible: false,
			uploadList: {
				url: '',
				name: '',
				showProgress: 0,
				percentage: 100,
			},
		}
	},
	methods: {
		handleView (name) {
			this.imgName = name;
			this.visible = true;
		},
		handleRemove (file) {
			this.uploadList.url = '';
			this.uploadList.name = '';
			this.$emit('selectImg', {type: '', data: this.uploadList});
		},
		handleSuccess (res, file) {
			this.uploadList.url = res.data.url;
			this.uploadList.name = res.data.value;
			this.$emit('selectImg', {type: '', data: this.uploadList});
		},
		handleFormatError (file) {
			this.$Notice.warning({
				title: '格式提示',
				desc: '图片文件 ' + file.name + ' 格式不正确, 请选择 jpg 或 png.'
			});
		},
		handleMaxSize (file) {
			this.$Notice.warning({
				title: '文件超出大小控制',
				desc: '文件  ' + file.name + ' 太大, 不能超过 2M.'
			});
		},
		handleBeforeUpload () {
			return true;
		},
		checkMessage () {
			if (this.sendData == '') {

			} else {
				this.uploadList.url = this.sendData.url;
				this.uploadList.name = this.sendData.name;
			}
			console.log(this.sendData);
		}
	},

	mounted () {
		setTimeout(() => {
			this.checkMessage();
		}, 1000)

	}

}
</script>
