<template>
	<div ref="dom" class="charts chart-bar"></div>
</template>

<script>
import echarts from 'echarts'
import tdTheme from '_c/charts/theme.json'
import {on, off} from '@/libs/tools'

echarts.registerTheme('tdTheme', tdTheme)
export default {
	name: 'lineTable',
	props: {
		dataValue: Array,
		numberValue: Array,
	},
	data () {
		return {
			dom: null
		}
	},
	methods: {
		resize () {
			this.dom.resize()
		}
	},
	mounted () {
		this.$nextTick(() => {
			let option = {
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'cross',
						label: {
							backgroundColor: '#6a7985'
						}
					}
				},
				grid: {
					top: '3%',
					left: '1.2%',
					right: '1%',
					bottom: '3%',
					containLabel: true
				},
				xAxis: {
					type: 'category',
					boundaryGap: false,
					data: this.dataValue
				},
				yAxis: {
					type: 'value'
				},
				series:this.numberValue
			}
			this.dom = echarts.init(this.$refs.dom, 'tdTheme')
			this.dom.setOption(option)
			on(window, 'resize', this.resize)
		})
	},
	beforeDestroy () {
		off(window, 'resize', this.resize)
	}
}
</script>
