<style lang="less">

</style>
<template>
  <!-- <Spin size="large" fix v-if="spinShow"></Spin> -->
  			<Spin fix v-if="spinShow"  ref="dom">
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
            </Spin>
</template>

<script>
export default {
  name: 'spinShow',
  props:['sendData'],
  components: {
    
  },
  data () {
    return {
  	  spinShow:false,
    }
  },
  methods: {
	
	},
  mounted () {
		this.spinShow=this.sendData;
	}
}
</script>
