<style lang="less">

</style>
<template>
	<div class="main_style" v-show="mainShow">
		<Spin fix v-if="spinShow" >
                <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
                <div>加载中......</div>
            </Spin>
		<div  class="search-con search-con-top select_type_header">
        	<div style="display: inline-block;">
        				<div class="searchTopText">标题</div>
        				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
        	</div>	
        	<!--  
        	<div style="display: inline-block;margin-left:10px;">
        				<div class="searchTopText">账号状态</div>
        				<Select v-model="status" class="search-col">
        		        <Option v-for="item in statusList"  :value="item.value">{{ item.label}}</Option>
        		      	</Select>
        		      	<Button @click="getMessage(0)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
        				
        	</div>	
        	-->
        		<div style="display: inline-block;margin-left:10px;">
        				
        		      	<Button @click="getMessage(0)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
        				
        	</div>	
        	<div style="display: inline-block;float:right;margin-top: 18px;">
        		<div>&nbsp;&nbsp; </div>
        		<Button @click="" class="search-btn" type="primary" icon="md-download" v-show="0">初始化模板消息</Button>
        		<Button @click="showMessage(formValidate,'add')" class="search-btn" type="primary" icon="md-add" >添加分类</Button>
        	</div>	
		</div>
		
		<div class="table_style">	
				
		    	<Table :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">	
		    		<template slot-scope="{ row,index }" slot="header">
		    			<div style="margin:10px 10px 10px 0px;border-radius: 5px;border: 1px solid #57a3f3;padding-bottom: 5px;" v-show="row.show_explode!=''">
    		    	  		<div v-for="item in row.show_explode" style="margin:5px 5px 0px 5px">{{item}}</div>
    		    	  	</div>
    		    	 </template>
    		    	 
    		    	  <template slot-scope="{ row,index }" slot="open" class="button_set">
    		    	  		<i-Switch  @on-change="openType(row)" v-model="row.is_open"  true-color="#13ce66" false-color="#ff4949" size="large">
            			 		<span slot="open"> 开启 </span>
        						<span slot="close"> 关闭 </span>
        					</i-Switch>
    		    	 </template>
    		    	 
    		    	 <template slot-scope="{ row,index }" slot="edit" class="button_set">
    		    	 <Button @click="showMessage(row,'edit')" type="primary"  style="margin:5px;" icon="md-create">编辑</Button> 
    		    	  <Button @click="deleteMsg(row)" type="error"  style="margin:5px;"  icon="md-trash" >删除</Button> 
    		 
    		    	 </template>
		    	</Table>
		</div>
		<div class="page_style">
		    	<Page 
		    	:total="tableNumber" 
		    	:page-size="pageSize"
		    	:page-size-opts="pageSizeOpts"
		    	@on-change="getMessage"
		    	@on-page-size-change="handlePageSize"
		    	show-sizer  />
		    	<div style="margin-top: -15px;">共 {{tableNumber}} 条数据</div>
		    </div>
  
  
  
  
  <!-- ***************** -->	
<Modal
        v-model="modalShow"
        :title="modalTitle"
        :loading="loading"
        @on-ok="asyncOK('formValidate')">
        <div >
        <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="80">
            
            <FormItem label="名称" prop="cat_name">
                <Input v-model="formValidate.cat_name" placeholder="" style="width:200px;"></Input>
            </FormItem>
                          
	        <FormItem label="是否启用" prop="is_open">
	             	<i-Switch  v-model="formValidate.is_open"  true-color="#13ce66" false-color="#ff4949" size="large">
	            			<span slot="open"> 开启 </span>
	        				<span slot="close"> 关闭 </span>
	        		</i-Switch>
	        </FormItem>
	        
        	<FormItem label="类型" prop="art_type">
	               <RadioGroup v-model="formValidate.art_type">
				        <Radio label="0">指引类型</Radio>
				        <Radio label="1">说明类型</Radio>
				        <Radio label="2">扩展类型</Radio>
				    </RadioGroup>
            </FormItem>
            
        	<FormItem label="排序" prop="cat_sort">
                <InputNumber  v-model="formValidate.cat_sort" :min="0"></InputNumber>
            </FormItem>
            
        </Form>
        </div>

        
</Modal>
  
  
    
	</div>
	
	

</template>
<script>
import { mapMutations } from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import spinShow from"@/view/example/spinShow.vue";

export default {
  name: 'admin',
  components: {
	  spinShow,
	  },
  data () {
    return {
    	mainShow:true,
    	spinShow:false,
    	showMes:'1',
		goUrl:'',
        modalTitle:'',
    	modalShow:false,
    	loading:true,
		searchType: 'pk_member_id',
		text:'',
		status:'0',
		sex:'0',
		columns:[],
		tableData:[],
		tableNumber:0,
		pageSize:config.PAGE_SIZE_DEF,
		pageSizeOpts:config.PAGE_SIZE_OPTS,
		sortColumn:'',
		sortVal:'',

        formValidate:{
            cat_id:0,
            cat_name:'',
            cat_sort:0,
            art_type:'0',           
            is_open:true,
        },
        ruleValidate:{
        	cat_name: [
                   { required: true, message: '不能为空', trigger: 'blur' }
               ],
        },
        
        
      
    }
  },
  methods: {
	  ...mapMutations([
	                   'closeTag'
	                 ]),
	  handlePageSize(pageSize){
			this.pageSize=pageSize;
			this.getMessage(1);
		},
	  getMessage(page){
			this.spinShow=true;
			const data ={
					searchType: this.searchType,
					text: this.text,
					status:this.status,
					sex:this.sex,
					page:page,
					pageSize:this.pageSize,
					sortColumn:this.sortColumn,
					sortVal:this.sortVal,
			      }
			axios.request({
		          url: "articleCategory/getArticleCat",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==0){
			        	if(page==0){
			        		this.columns=res.data.columns;
				        }
		        		this.tableData=res.data.items;
		        		this.tableNumber=res.data.total;
		        	
		        		this.spinShow=false;
		        	}else{
		        		this.spinShow=false;
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        	}
		        });
		},
		
		getMessageSor(val){
			//console.log(val)
			this.sortColumn=val.key;
			this.sortVal=val.order;	
			this.getMessage();
		},
		explode(){
			const data ={
					exportData:1,
			      }
			axios.request({
		          url: "weixin/updateTemplateList",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==0){
		        		this.getMessage(0);
		        	}else{
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        	}
		        });
		},
		tplUpdate(){
			this.$Modal.confirm({
                title: '是否确认从新获取消息模板',
                content: '<p>消息模板将会从微信公众号从新获取！</p>',
                onOk: () => {
					this.explode();
                },
                onCancel: () => {
                   // this.$Message.info('Clicked cancel');
                }
            });
			},
		

		asyncOK (name) {
			this.loading=true;
            this.$refs[name].validate((valid) => {
                if (valid) {
                    if(this.showMes==0){
                    	this.saveMessage('articleCategory/updateCat');
                     }else{
                    	 this.saveMessage('articleCategory/insertCat');
                       }
                } else {
                	this.modalShow=true;
                    this.$Message.error('必要信息不能为空!');
                    this.loading=false;
                }
            })
        },

        showMessage(row,typed){
			if(typed=='add'){
				this.modalTitle="添加文章分类";
				this.formValidate={
							cat_id:0,
							cat_name:'',
				            cat_sort:0,
				            art_type:'0',           
				            is_open:true,
				           };
				this.showMes=1;
			}else{
				this.modalTitle="编辑文章分类";
				this.formValidate=row;
				//this.formValidate.cat_sort=row.cat_sort;
				//this.formValidate.art_type=row.art_type;
				//this.formValidate.art_type=row.art_type;
				this.showMes=0;
			}
			
			this.modalShow=true;
		},

		 saveMessage(url){
        	const data ={
					cat_id: this.formValidate.cat_id,
					cat_name: this.formValidate.cat_name,
					art_type: this.formValidate.art_type,
					is_open: this.formValidate.is_open,
			      }
        	//console.log( this.formValidate);return;
        	axios.request({
		          url:url,
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        		if(res.code==0){
		        			this.modalShow=false;
		        			this.loading=false;
		        			this.formValidate={
		        					cat_id:0,
									cat_name:'',
						            cat_sort:0,
						            art_type:'0',           
						            is_open:true,
						           };
		        			this.$Message.success({
				                content: res.message,
				                duration: 6,
				                closable: true
				            });
		        			this.getMessage(0);
			        	}else{
			        		this.$Message.error({
				                content: res.message,
				                duration: 6,
				                closable: true
				            });
			        		this.modalShow=true;
			        		this.loading=false;
				        }
			        }) 
        },
        deleteMsg(row){
			this.$Modal.confirm({
                title: '是否确认删除',
                content: '<p>删除之后分类将不再显示。</p>',
                onOk: () => {
					this.delMessage(row);
                },
                onCancel: () => {
                   // this.$Message.info('Clicked cancel');
                }
            });
			},
		 delMessage(row){
		  		this.spinShow=true;
				const data ={cat_id:row.cat_id}
				axios.request({
			          url: "articleCategory/delArticleCat",
			          data,
			          method: "post"
			        }).then((response)=> {
			        	var res = response.data;
			        	this.spinShow=false;
			        	if(res.code==0){
			        		this.$Message.success({
				                content: res.message,
				                duration: 6,
				                closable: true
				            });
			        		this.tableNumber=this.tableNumber-1;
			        		this.tableData.splice(row.index, 1);
			        		
			        	}else{
			        		this.spinShow=false;
			        		this.$Message.error({
				                content: res.message,
				                duration: 6,
				                closable: true
				            });
			        	}
			        });
			 },

			 openType(row){
					this.spinShow=true;
					const data ={cat_id:row.cat_id,is_open:row.is_open}
					axios.request({
				          url: "articleCategory/openCatStatic",
				          data,
				          method: "post"
				        }).then((response)=> {
				        	var res = response.data;
				        	this.spinShow=false;
				        	if(res.code==0){
				        		this.$Message.success({
					                content: res.message,
					                duration: 6,
					                closable: true
					            });
				        		
				        	}else{
				        		this.spinShow=false;
				        		this.$Message.error({
					                content: res.message,
					                duration: 6,
					                closable: true
					            });
				        	}
				        });
				}
        
  },
  created () {

  },
  mounted () {
	  this.getMessage(0);
  }
}
</script>
