<style lang="less">

.ivu-spin-fix {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}

</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="header_ba">
			<i class="header_ba_i"></i>文章编辑
		</div>

		<div nclass="table_style">

			<Form ref="formData" :model="formData" :rules="ruleValidate" :label-width="100" style="margin:20px 0px 20px 0px;">

				<FormItem label="文章标题" prop="title">
					<Input v-model="formData.title" placeholder="" style="width:200px;" clearable></Input>
				</FormItem>
				<FormItem label="文章平台" prop="cat">
					<CheckboxGroup v-model="formData.type" >
						<Checkbox label="INSTRUCTION_WEIXIN" style="margin:0px 10px 0px 10px;" >微信小程序</Checkbox>
						<Checkbox label="INSTRUCTION_DING" style="margin:0px 10px 0px 10px;">钉钉</Checkbox>
						<Checkbox label="INSTRUCTION_H5" style="margin:0px 10px 0px 10px;">H5</Checkbox>
					</CheckboxGroup>
				</FormItem>
				<FormItem label="排序" prop="sort">
					<InputNumber :min="0" v-model="formData.sort"></InputNumber>
					<span style="color:red;"> * 数值越大排序越前</span>
				</FormItem>
				<FormItem label="是否启用" prop="is_open">
					<i-Switch v-model="formData.suspend" true-color="#13ce66" false-color="#ff4949" size="large">
						<span slot="open"> 开启 </span>
						<span slot="close"> 关闭 </span>
					</i-Switch>
				</FormItem>

				<FormItem label="文章内容" prop="connect">
					<span style="color:red;">（ * 文本样式内容不能过于复杂，否则将会影响小程序页面展示，过于复杂内容建议使用图片方式展示。）</span>
					<div style="width: 500px;height:100%;margin-bottom:50px;min-height: 300px;">
						<edit @on-change="editMessage" :value="editMes" :height="800" style="width:500px;"/>
					</div>
				</FormItem>


			</Form>

		</div>

		<div class="footer">
			<Button @click="close">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button type="primary" @click="saveOneChack('formData')">保存</Button>

			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import edit from '@/view/example/edit.vue'

export default {

	name: 'customMessage',
	components: {
		edit,
	},
	data () {
		return {
			spinShow: true,
			editMes: '',
			catList: [
				{cat: 'ABOUT_US', cat_name: '关于我们'},
				{cat: 'INSTRUCTION', cat_name: '操作指引'}
			],
			formData: {
				id: 0,
				cat: 'ABOUT_US',
				title: '',
				sort: 0,
				content: '',
				suspend: true,
				type:[],
			},
			ruleValidate: {
				title: [
					{required: true, message: '标题不能为空', trigger: 'blur'}
				]
			},
		}
	},

	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryArticle',
				query: {
					id: this.$route.query.id,
					name: this.$route.query.name
				}
			})
		},
		//富文本插件
		editMessage (data) {
			//console.log(data);
			this.formData.content = data;
		},

		getMessage (page) {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "articles/detail",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.formData = res.data;
					this.editMes = res.data.content;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		saveOneChack (name) {
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage();
				} else {
					this.modalShow = true;
					this.$Message.error('必要信息不能为空!');
					this.loading = false;
				}
			})
		},


		saveMessage () {
			this.spinShow = true;
			const data = {
				id: this.formData.id,
				title: this.formData.title,
				content: this.formData.content,
				suspend: this.formData.suspend,
				type: this.formData.type,
				sort: this.formData.sort,
			}
			axios.request({
				url: 'articles/create',
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.formData.id = res.data.id;
					this.spinShow = false;
					this.$Message.success({
						content: '操作成功！',
						duration: 6,
						closable: true
					});
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		}


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		this.formData.art_id = this.$route.query.id;
		this.formData.connect = 'ceshuifju';
		//alert(this.$route.query.id);
		this.getMessage(0);
	}
}


</script>
