<style lang="less">
.count-style-mes {
	font-size: 30px;
	color: #e58876;
}

.demo-upload-list-cover i {
	color: #fff;
	font-size: 25px;
	cursor: pointer;
	margin-top: -30px;
}

.span_text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 320px;
}
</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;margin:5px;">
				<div class="searchTopText">活动</div>
				<Select v-model="activityId" class="search-col-activity">
					<Option v-for="item in activityList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div style="display: inline-block;margin:5px;">
				<div class="searchTopText">时间段</div>
				<DatePicker v-model="time" type="daterange" split-panels placeholder="时间段" style="width: 180px"></DatePicker>
			</div>
			<div style="display: inline-block;margin:5px;">
				<div>&nbsp;&nbsp;</div>
				<RadioGroup type="button" v-model="timeState" @on-change="clickTime">
					<Radio label="allDay">所有</Radio>
					<Radio label="yesterday">昨天</Radio>
					<Radio label="lastSevenDays">最近七天</Radio>
					<Radio label="lastThirtyDays">最近三十天</Radio>
				</RadioGroup>
			</div>
			<div style="display: inline-block;margin:5px;">
				<div class="searchTopText">参与筛选</div>
				<Select v-model="activityType" class="search-col">
					<Option v-for="item in activityTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div style="display: inline-block;margin:5px;">
				<div class="searchTopText">条件</div>
				<Select v-model="numberSelect" class="search-col">
					<Option v-for="item in numberType" :value="item.value">{{ item.label }}</Option>
				</Select>
				<InputNumber :min="0" v-model="number" style="margin-left:10px;"></InputNumber>
			</div>
			<div style="display: inline-block;margin:5px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="searchMessage" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin:5px">
				<div style="margin-bottom: 4px;" class="searchTopText">过滤</div>
				<i-switch v-model="switchState" @on-change="">
					<span slot="open">开</span>
					<span slot="close">关</span>
				</i-switch>
			</div>
		</div>
		<div class="table_style">
			<Card style="width:100%;display: inline-block;margin-top:10px;">
				<div style="text-align:center">
					<Row :gutter="10">
						<Col :xs="24" :md="8" :sm="8" :lg="2">
							<div class="count-style-mes">
							</div>
							<h4 style="color:#ffffff;">1</h4>
							<h3>&nbsp;&nbsp;</h3>
						</Col>
						<Col :xs="24" :md="8" :sm="8" :lg="4" v-for="item in dataShow">
							<div class="count-style-mes">
								<count-to :end="item.number"></count-to>
							</div>
							<h4 style="color:#f59a23;height: 21px;">{{ item.than }}&nbsp;</h4>
							<h3>{{ item.name }}</h3>
						</Col>
					</Row>
				</div>

			</Card>
		</div>
		<div class="table_style">
			<Tabs type="card">

				<TabPane label="意见箱数据">
					<div class="table_style">
						<Table :loading="tableLoadingBox" :columns="columnsBox" :data="tableDataBox" @on-sort-change="getMessageSorBox" ref="tableBox">
							<template slot-scope="{ row,index }" slot="header">
								<div style="display: inline-block;">
									<div class="image-show">
										<img :src=" row.userAvatar">
									</div>
									<div class="image-title-show">
										<span class="span_message_style_25">用户ID：{{ row.userId }}</span><br>
										<span class="span_message_style_25">昵称：{{ row.userName }}</span><br>
										<span class="span_message_style_25">手机：{{ row.mobile }}</span><br>
									</div>
								</div>
							</template>

							<template slot-scope="{ row,index }" slot="edit">
								<Button @click="showOpinion(row)" type="primary" icon="md-create" style="margin:5px;">详情</Button>
							</template>
						</Table>
					</div>
					<div class="page_style">
						<Page
							:total="tableNumberBox"
							:page-size="pageSize"
							:page-size-opts="pageSizeOpts"
							@on-change="getMessageBox"
							@on-page-size-change="handlePageSize"
							show-sizer show-total/>
					</div>
				</TabPane>
				<TabPane label="用户数据">
					<div class="table_style">
						<Table :loading="tableLoadingUser" :columns="columnsUser" :data="tableDataUser" @on-sort-change="getMessageSorUser" ref="tableUser">
							<template slot-scope="{ row,index }" slot="header">
								<div style="display: inline-block;">
									<div class="image-show">
										<img :src=" row.userAvatar">
									</div>
									<div class="image-title-show">
										<span class="span_message_style_25">用户ID：{{ row.userId }}</span><br>
										<span class="span_message_style_25">昵称：{{ row.userName }}</span><br>
										<span class="span_message_style_25">手机：{{ row.mobile }}</span><br>
									</div>
								</div>
							</template>
						</Table>
					</div>
					<div class="page_style">
						<Page
							:total="tableNumberUser"
							:page-size="pageSize"
							:page-size-opts="pageSizeOpts"
							@on-change="getMessageUser"
							@on-page-size-change="handlePageSize"
							show-sizer show-total/>
					</div>
				</TabPane>

			</Tabs>
		</div>

		<Modal
			v-model="modalShowList"
			title="意见列表"
			:width="900">
			<div class="table_style" style="max-height:900px; ">
				<Table :loading="tableLoadingList" :columns="columnsList" :data="tableDataList" @on-sort-change="getMessageSor" ref="tableList">
					<template slot-scope="{ row,index }" slot="header">
						<div style="display: inline-block;">
							<div class="image-show" style="width: 60px;height: 60px;">
								<img :src=" row.avatar">
							</div>
							<div style="argin-top: 5px;vertical-align: top;display: inline-block;">
								<span class="span_message_style_20">用户ID：{{ row.userId }}</span><br>
								<span class="span_message_style_20">昵称：{{ row.userName }}</span><br>
								<span class="span_message_style_20">手机：{{ row.mobile }}</span><br>
							</div>
						</div>
					</template>
					<template slot-scope="{ row,index }" slot="content">

						<div style="argin-top: 5px;vertical-align: top;display: inline-block;">
							<span v-show="row.title" class="span_message_style_20">标题：{{ row.title }}</span>
							<br>
							<Tooltip placement="top" transfer>
								<div class="span_text"> 内容：{{ row.content }}</div>
								<div slot="content" style="white-space: normal;">
									<p>{{ row.content }}</p>
								</div>
							</Tooltip>
							<br>
							<div class="demo-upload-list" style="width:50px;height:50px;margin:5px;" v-for="item in row.images" v-show="row.images">
								<img :src=" item">
								<div class="demo-upload-list-cover">
									<Icon type="ios-eye-outline" @click="showImage(item)"></Icon>
								</div>
							</div>
							<div class="image-show" style="width: 130px;height: 80px;margin:0px 5px 0px 5px" v-for="item in row.videos" v-show="row.videos">
								<video :src=" item" style="margin-top:0px;width:130px;height:80px;" controls="controls"></video>
							</div>
						</div>
					</template>
				</Table>
			</div>
			<div class="page_style">
				<Page
					:total="tableNumberList"
					:page-size="pageSize"
					:page-size-opts="pageSizeOpts"
					@on-change="getMessageList"
					@on-page-size-change="handlePageSize"
					show-sizer show-total/>
			</div>

			<div slot="footer">

			</div>


		</Modal>

		<Modal title="图片预览" v-model="visible">
			<img :src="visibleShow" v-if="visible" style="width: 100%">
		</Modal>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import CountTo from '_c/count-to'
import "./style.less";

export default {
	name: 'activityData',
	components: {
		CountTo,
	},
	data () {
		return {
			visible: false,
			spinShow: false,
			switchState: true,
			time: [],
			activityId: 1,
			timeState: 'allDay',
			dataShow: [],
			activityList: [
				{
					value: '1',
					label: '活动1'
				},
				{
					value: '2',
					label: '活动2'
				},
			],
			activityType: 'all',
			activityTypeList: [
				{
					value: 'all',
					label: '全部维度'
				},
				{
					value: 'inPeople',
					label: '参与人数'
				},
				{
					value: 'newPeople',
					label: '新用户人数'
				},
				{
					value: 'opinion',
					label: '提意见数量'
				},
			],
			numberSelect: 'all',
			numberType: [
				{
					value: 'all',
					label: '全部条件'
				},
				{
					value: 'big',
					label: '大于'
				},
				{
					value: 'etc',
					label: '等于'
				},
				{
					value: 'small',
					label: '小于'
				},
			],
			number: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,

			tableLoadingBox: false,
			columnsBox: [],
			tableDataBox: [],
			pageBox: 1,
			tableNumberBox: 0,
			sortColumnBox: '',
			sortValBox: '',

			tableLoadingUser: false,
			columnsUser: [],
			tableDataUser: [],
			pageUser: 1,
			tableNumberUser: 0,
			sortColumnUser: '',
			sortValUser: '',

			boxId: 0,
			exportDataList: 0,
			modalShowList: false,
			tableLoadingList: false,
			columnsList: [],
			tableDataList: [],
			pageList: 1,
			tableNumberList: 0,
			sortColumnList: '',
			sortValList: '',

		}
	},

	methods: {
		clickTime () {
			this.getMessage(1);
			this.getMessageBox(1);
			this.getMessageUser(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoadingBox = true;
				this.tableLoadingUser = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				number: this.number,
				numberSelect: this.numberSelect,
				activityType: this.activityType,
				activityId: this.activityId,
				timeState: this.timeState,
				time: this.time,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
				filter: this.switchState,
			}
			axios.request({
				url: "data/activity",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.dataShow = res.data.header;
					this.time = res.data.time;
					this.activityId = res.data.activityId;
					this.activityList = res.data.activityList;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		getMessageBox (page) {
			if (page > 0) {
				this.tableLoadingBox = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				number: this.number,
				numberSelect: this.numberSelect,
				activityType: this.activityType,
				activityId: this.activityId,
				timeState: this.timeState,
				time: this.time,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
				filter: this.switchState,
			}
			axios.request({
				url: "data/activityBox",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columnsBox = res.data.columnsBox;
					}
					this.tableDataBox = res.data.itemsBox;
					this.tableNumberBox = res.data.totalBox;
					this.tableLoadingBox = false;
				} else {
					this.tableLoadingBox = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		getMessageUser (page) {
			this.tableLoadingUser = true;
			const data = {
				number: this.number,
				numberSelect: this.numberSelect,
				activityType: this.activityType,
				activityId: this.activityId,
				timeState: this.timeState,
				time: this.time,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
				filter: this.switchState,
			}
			axios.request({
				url: "data/activityUser",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columnsUser = res.data.columnsUser;
					}
					this.tableDataUser = res.data.itemsUser;
					this.tableNumberUser = res.data.totalUser;
					this.tableLoadingUser = false;
				} else {
					this.tableLoadingUser = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		showOpinion (row) {
			this.boxId = row.boxId;
			this.exportDataList = 0;
			this.getMessageList(0);
		},
		getMessageList (page) {
			this.modalShowList = true;
			this.tableLoadingList = true;
			const data = {
				boxId: this.boxId,
				exportData: this.exportDataList,
				page: page,
				pageSize: this.pageSize,
				filter: this.switchState,
			}
			axios.request({
				url: "data/opinion",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.columnsList = res.data.columnsList;
					this.tableDataList = res.data.itemsList;
					this.tableNumberList = res.data.totalList;
					this.pageList = res, data.pageList;
					this.tableLoadingList = false;
				} else {
					this.tableLoadingList = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		searchMessage () {
			this.timeState = '';
			this.getMessage(1);
			this.getMessageBox(1);
			this.getMessageUser(1);
		},
		getMessageSor () {

		},

		getMessageSorBox (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessageBox(1);
		},
		getMessageSorUser (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessageUser(1);
		},


		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		showImage (url) {
			this.visible = true;
			this.visibleShow = url;
		},
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage(0);
		this.getMessageBox(0);
		this.getMessageUser(0);
	}
}


</script>