<style lang="less">
.count-style-mes {
	font-size: 30px;
	color: #e58876;
}

</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">时间段</div>
				<DatePicker v-model="time" type="daterange" split-panels placeholder="时间段" style="width: 180px"></DatePicker>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="searchMessage" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;margin-top:5px;">
				<div>&nbsp;&nbsp;</div>
				<RadioGroup type="button" v-model="timeState" @on-change="clickTime">
					<Radio label="lastSevenDays">最近七天</Radio>
					<Radio label="lastThirtyDays">最近三十天</Radio>
					<Radio ghost label="lastWeek">上周</Radio>
					<Radio ghost label="lastMonth">上个月</Radio>
				</RadioGroup>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div style="margin-bottom: 4px;" class="searchTopText">过滤</div>
				<i-switch v-model="switchState" @on-change="searchMessage(1)">
					<span slot="open">开</span>
					<span slot="close">关</span>
				</i-switch>
			</div>
		</div>
		<div class="table_style">
			<Card style="width:100%;display: inline-block;margin-top:10px;">
				<div style="text-align:center">
					<Row :gutter="10">
						<Col :xs="24" :md="8" :sm="8" :lg="4" v-for="item in dataShow">
							<div class="count-style-mes">
								<count-to :end="item.number"></count-to>
							</div>
							<h3>{{ item.name}}</h3>
						</Col>
					</Row>
				</div>

			</Card>
		</div>
		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.headImg">
						</div>
						<div class="image-title-show">
							<span class="span_message_style_25">用户ID：{{ row.id }}</span><br>
							<span class="span_message_style_25">昵称：{{ row.nickName }}</span><br>
							<span class="span_message_style_25">手机：{{ row.mobile }}</span><br>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="admin">
					<span style="color:green;" v-show=" row.admin =='是'">{{ row.admin }}</span>
					<span style="color:red;" v-show=" row.admin =='否'">{{ row.admin }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="follow">
					<span style="color:green;" v-show=" row.follow =='是'">{{ row.follow }}</span>
					<span style="color:red;" v-show=" row.follow =='否'">{{ row.follow }}</span>
				</template>
			</Table>
		</div>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import CountTo from '_c/count-to'
import "./style.less";

export default {
	name: 'everyData',
	components: {
		CountTo,
	},
	data () {
		return {
			spinShow: false,
			dataShow: [],
			tableLoading: false,
			columns: [],
			tableData: [],
			page: 1,
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: 'desc',
			time: [],
			timeState: 'lastSevenDays',
			switchState: true,
		}
	},

	methods: {
		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		clickTime () {
			this.getMessage(1);
		},
		searchMessage () {
			this.timeState = '';
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				timeState: this.timeState,
				time: this.time,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
				filter: this.switchState,
			}
			axios.request({
				url: "data/every",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.dataShow=res.data.headerData;
					this.tableData = res.data.items;
					this.page = res.data.page;
					this.tableNumber = res.data.total;
					this.time = res.data.time;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage(0);
	}
}


</script>
