.demo-Circle-custom {
  & h1 {
    color: #3f414d;
    font-size: 28px;
    font-weight: normal;
  }

  & p {
    color: #657180;
    font-size: 12px;
    margin: 10px 0 15px;
  }

  & span {
    display: block;
    padding-top: 5px;
    color: #657180;
    font-size: 12px;

    &:before {
      content: '';
      display: block;
      width: 50px;
      height: 1px;
      margin: 0 auto;
      background: #e0e3e6;
      position: relative;
      top: -15px;
    }
  ;
  }

  & span i {
    font-style: normal;
    color: #3f414d;
  }

}

.search-col-activity {
  width: 150px;
}