<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

.count-style-mes {
	font-size: 30px;
	color: #e58876;
}

</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="search-con search-con-top select_type_header">
			<div style="display: inline-block;">
				<div class="searchTopText">时间段</div>
				<DatePicker v-model="time" type="datetimerange" format="yyyy-MM-dd HH:mm:ss" placeholder="" style="width: 280px"></DatePicker>
			</div>
			<div style="display: inline-block;margin-left:10px;">
				<div>&nbsp;&nbsp;</div>
				<Button @click="searchMessage" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div style="display: inline-block;margin-left:10px;margin-top:5px;">
				<div>&nbsp;&nbsp;</div>
				<RadioGroup type="button" v-model="timeState" @on-change="clickTime">
					<Radio label="yesterday">昨天</Radio>
					<Radio label="lastSevenDays">最近七天</Radio>
					<Radio label="lastThirtyDays">最近三十天</Radio>
					<Radio ghost label="lastWeek">上周</Radio>
					<Radio ghost label="lastMonth">上个月</Radio>
				</RadioGroup>
			</div>
		</div>
		<div class="table_style">
			<Card style="width:100%;display: inline-block;margin-top:10px;">
				<div style="text-align:center">
					<Row :gutter="10">
						<Col :xs="24" :md="8" :sm="8" :lg="4" v-for="item in dataShow">
							<div class="count-style-mes">
								<count-to :end="item.value"></count-to>
							</div>
							<h3>{{ item.name }}</h3>
						</Col>
					</Row>
				</div>

			</Card>
		</div>
		<div class="table_style">
			<Row :gutter="20" style="margin-top: 10px;margin-bottom:10px;">
				<Col :xs="24" :md="24" :lg="12" :sm="24">
					<Card shadow>
						<div ref="circular" style="height: 260px;"></div>
					</Card>
				</Col>
				<Col :xs="24" :md="24" :lg="12" :sm="24" style="text-align: center;">
					<Card shadow>
						<div style="height: 260px;">
							<Row>
								<Col v-for="(item,index) in circularList" span="8">
									<i-Circle
										:size="130"
										:trail-width="10"
										:stroke-width="10"
										:percent="item.percentage"
										stroke-linecap="square"
										:stroke-color="item.color">
										<div class="demo-Circle-custom">
											<h5>{{ item.total }}</h5>
											<p>{{ item.name }}</p>
											<span>总占人数<i>{{ item.percentage }}%</i></span>
										</div>
									</i-Circle>
								</Col>
							</Row>
						</div>
					</Card>
				</Col>
			</Row>
		</div>
		<div class="table_style">
			<Table :loading="tableLoading" :columns="columns" :data="tableData" @on-sort-change="getMessageSor" ref="userTable">
				<template slot-scope="{ row,index }" slot="header">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.headImg">
						</div>
						<div class="image-title-show">
							<span class="span_message_style_25">用户ID：{{ row.id }}</span><br>
							<span class="span_message_style_25">昵称：{{ row.nickName }}</span><br>
							<span class="span_message_style_25">手机：{{ row.mobile }}</span><br>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="admin">
					<span style="color:green;" v-show=" row.admin =='是'">{{ row.admin }}</span>
					<span style="color:red;" v-show=" row.admin =='否'">{{ row.admin }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="follow">
					<span style="color:green;" v-show=" row.follow =='是'">{{ row.follow }}</span>
					<span style="color:red;" v-show=" row.follow =='否'">{{ row.follow }}</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-sizer show-total/>
		</div>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import "./style.less";
import echarts from 'echarts';
import {on, off} from '@/libs/tools'
import CountTo from '_c/count-to'
import config from '@/config/index.js';

export default {
	name: 'userData',
	components: {
		CountTo,
	},
	data () {
		return {
			spinShow: false,
			circular: null,
			dataShow: [],
			circularList: [1, 2, 3, 4, 5],
			tableLoading: false,
			columns: [],
			tableData: [],
			page: 1,
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			sortColumn: '',
			sortVal: '',
			time: [],
			timeState: 'yesterday',
		}
	},

	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		resize () {
			this.circular.resize()
		},
		clickTime () {
			this.getMessage(1);
			this.userCircular();
		},
		searchMessage () {
			this.timeState = '';
			this.getMessage(1);
			this.userCircular();
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				timeState: this.timeState,
				time: this.time,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
			}
			axios.request({
				url: "data/userList",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableData = res.data.items;
					this.page = res.data.page;
					this.tableNumber = res.data.total;
					this.time = res.data.time;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		userCircular () {
			const data = {
				timeState: this.timeState,
				time: this.time,
			}
			axios.request({
				url: "data/userPic",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.circularList = res.data.dataRing;
					this.dataShow = res.data.dataShow;
					const option = {
						color: res.data.dataPicColor,
						tooltip: {
							trigger: 'item',
							formatter: '{a} <br/>{b}'
						},
						legend: {
							show: true,
							orient: 'vertical',
							left: 'left',
						},
						series: [
							{
								name: '总用户数：' + res.data.userTotal,
								type: 'pie',
								radius: ['40%', '90%'],
								avoidLabelOverlap: false,
								itemStyle: {
									normal: {
										borderRadius: 10,
										borderColor: '#fff',
										borderWidth: 2
									},
								},
								label: {
									show: false,
									position: 'center'
								},
								emphasis: {
									label: {
										show: true,
										fontSize: '12',
										fontWeight: 'bold'
									}
								},
								labelLine: {
									show: false
								},
								data: res.data.dataPic
							}
						]
					}
					this.circular = echarts.init(this.$refs.circular);
					this.circular.setOption(option);
					on(window, 'resize', this.resize)
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
	},
	watch: {
		//
	},
	mounted () {
		//alert(this.$route.query.id);
		this.userCircular(0);
		this.getMessage(0);
	},

}


</script>