<template>
	<div class="main_style">

		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header" style="overflow:hidden;">
			<Button @click="createMessage()" icon="md-add" type="primary" style="float: right;margin: 3px;">增加</Button>
		</div>
		<div class="table_style">
			<Table :columns="columns" :data="tableData" fixed="right">
				<template slot-scope="{ row,index }" slot="switch" class="button_set">
					<i-Switch @on-change="changeStatus(row)" v-model="row.status" true-color="#13ce66"
					          false-color="#ff4949"
					          size="large">
						<span slot="open"> 开启 </span>
						<span slot="close"> 关闭 </span>
					</i-Switch>
				</template>
				<template slot-scope="{ row,index }" slot="image">
					<div>
						<img class="banner-img" :src="row.image" style="width:180px;height: 180px;object-fit: contain;">
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="type">
					<span v-show="row.type==1">移动端</span>
					<span v-show="row.type==2">PC端</span>
					<span v-show="row.type==3">App端</span>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="editMessage(row)" type="primary" style="margin:5px;" icon="md-create">编辑</Button>
					<Button @click="deleteTip(row)" type="error" icon="md-trash" style="margin:5px;">删除</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber" :page-size="pageSize" :current="page" @on-change="changePage" show-total/>
		</div>

		<Modal
			v-model="isShowCreate"
			title="添加Banner"
			width=600
			@on-ok="ok"
			@on-cancel="cancel">
			<div>
				<Form ref="formInline" :model="formData" :rules="ruleValidate">
					<FormItem label="上传">
						<div>
							<div class="demo-upload-list" v-show="formData.image">
								<template v-if="formData.image">
									<img :src="formData.image">
									<div class="demo-upload-list-cover">
										<Icon type="ios-trash-outline" @click.native="handleRemove(formData.image)"></Icon>
									</div>
								</template>
								<template v-else>
									<Progress v-if="formData.showProgress" :percent="formData.percentage"></Progress>
								</template>
							</div>
							<Upload
								v-show="formData.image===''"
								ref="upload"
								name="image"
								:show-upload-list="false"
								:on-success="handleSuccessPos"
								:format="['jpg','jpeg','png']"
								:max-size="10240"
								:on-format-error="handleFormatError"
								:on-exceeded-size="handleMaxSize"
								:before-upload="handleBeforeUpload"
								type="drag"
								:action="imageAction"
								style="display: inline-block;width:78px;">
								<div style="width: 78px;height:78px;line-height: 78px;">
									<Icon type="ios-camera" size="30"></Icon>
								</div>
							</Upload>
						</div>
					</FormItem>
					<FormItem label="图片" prop="image" v-show="0">
						<img class="banner-img" :src="formData.image" alt="未选中图片(PC,1500*540,小程序750*270)">
					</FormItem>
					<FormItem label="类型" prop="platformCode">
						<Select v-model="formData.type" style="width:200px;">
							<Option v-for="item in typeList" :value="item.value" :key="item.value">{{ item.label }}
							</Option>
						</Select>
					</FormItem>
					<FormItem label="排序" prop="sort">
						<Input type="number" v-model="formData.sort" placeholder="排序结果按数字大-小排序" style="width:200px;">
						</Input>
					</FormItem>
					<FormItem label="链接" prop="url">
						<Input v-model="formData.url" placeholder="http/https://开头" style="width:300px;">
						</Input>
					</FormItem>
					<FormItem label="状态" prop="status">
						<i-Switch v-model="formData.status" true-color="#13ce66" false-color="#ff4949"
						          size="large">
							<span slot="open"> 开启 </span>
							<span slot="close"> 关闭 </span>
						</i-Switch>
					</FormItem>
				</Form>
			</div>
		</Modal>
	</div>
</template>

<script>
import {mapMutations} from 'vuex'
import "@/view/indexBox.less";
import axios from "@/libs/api.request";
import config from '@/config/index.js';
import spinShow from "@/view/example/spinShow.vue";
import {errorReq} from "../../api/data";
import Cookies from "js-cookie";

export default {
	name: "platformBannerList",
	components: {
		spinShow,
	},
	data () {
		return {
			imageAction: config.Image_url + '?access-token=' + Cookies.get('accessToken'),
			typeList: [
				{
					value: 1,
					label: '移动端'
				},
				{
					value: 2,
					label: 'PC端'
				},
				{
					value: 3,
					label: 'App端'
				},
			],
			formData: {
				image: ' ',
				type: 1,
				status: true,
				url: '',
				id: '',
				sort: '',
				poster: ''
			},
			ruleValidate: {
				image: [
					{required: true, message: '不能为空', trigger: 'blur'}
				],
				platformCode: [
					{required: true, message: '不能为空', trigger: 'blur'}
				],
			},
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			page: 1,
			pageSizeOpts: config.pageSizeOpts,
			tableData: [],
			columns: [],
			isShowCreate: false,
			spinShow: false,
		}
	},
	methods: {
		handleSuccessPos: function (res, file) {
			this.formData.image = res.data.url;
		},
		handleFormatError: function (file) {
			this.$Notice.warning({
				title: '格式提示',
				desc: '图片文件 ' + file.name + ' 格式不正确, 请选择 jpg 或 png.'
			});
		},
		handleMaxSize: function (file) {
			this.$Notice.warning({
				title: '文件超出大小控制',
				desc: '文件  ' + file.name + ' 太大, 不能超过 10M.'
			});
		},
		handleBeforeUpload: function () {
			return true;
		},
		deleteTip: function (row) {
			this.$Modal.confirm({
				title: '是否确认删除',
				content: '<p>删除之后Banner将不再存在。</p>',
				onOk: () => {
					this.deleteMessage(row);
				},
				onCancel: () => {
				}
			});
		},
		changeStatus: function (row) {
			this.spinShow = true;
			const data = {id: row.id, status: row.status}
			axios.request({
				url: "banners/switch/status",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.$Message.success({
						content: '操作成功！',
						duration: 6,
						closable: true
					});
					this.getMessage();
				} else {
					this.spinShow = false;
					row.status = res.data.status;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
			this.carouselN = 0;
		},
		ok: function () {
			if (!this.formData.id) {
				this.createBanner();
			} else {
				this.updateBanner();
			}
		},
		createMessage: function () {
			this.formData.image = '';
			this.formData.type = 1;
			this.formData.url = '';
			this.formData.id = '';
			this.formData.status = true;
			this.formData.sort = '0';
			this.isShowCreate = true;
		},
		editMessage: function (row) {
			this.formData.id = row.id;
			this.formData.url = row.url;
			this.formData.image = row.image;
			this.formData.type = row.type;
			this.formData.sort = row.sort;
			this.formData.status = row.status;
			this.isShowCreate = true;
		},
		deleteMessage: function (row) {
			const data = {id: row.id}
			console.log((data));
			axios.request({
				url: 'banners/delete',
				data: data,
				method: 'post'
			}).then((response) => {
				const res = response.data;
				if (res.code === 0) {
					this.$Message.success('移除成功');
					this.getMessage();
				} else {
					this.$Message.error(res.message);
				}
			}).catch(((err) => {
				this.$Message.error('网络异常');
			}))
		},
		changePage: function (page) {
			this.page = page;
			this.getMessage();
		},
		getMessage: function () {
			this.spinShow = true;
			const data = {
				page: this.page,
			}
			axios.request({
				url: 'banners/get',
				data: data,
				method: 'post'
			}).then((response) => {
				const res = response.data;
				if (res.code === 0) {
					this.page = res.data.page;
					this.pageSize = res.data.pageSize;
					this.columns = res.data.columns;
					this.tableNumber = res.data.total;
					this.tableData = res.data.items;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			}).catch(((err) => {
				this.$Message.error('网络异常');
			}))
		},
		createBanner: function () {
			if (!this.formData.image) {
				this.$Message.error('图片不允许为空');
				return;
			}
			const data = {
				image: this.formData.image,
				type: this.formData.type,
				suspend: !this.formData.status,
				url: this.formData.url,
				sort: this.formData.sort,
			}
			axios.request({
				url: 'banners/create',
				data: data,
				method: 'post'
			}).then((response) => {
				const res = response.data;
				if (res.code === 0) {
					this.$Message.success('成功');
					this.getMessage();
				} else {
					this.$Message.error(res.message);
				}
			}).catch(((err) => {
				this.$Message.error('网络异常');
			}))
		},
		updateBanner: function () {
			if (!this.formData.image) {
				this.$Message.error('图片不允许为空');
				return;
			}
			const data = {
				id: this.formData.id,
				image: this.formData.image,
				type: this.formData.type,
				suspend: !this.formData.status,
				url: this.formData.url,
				sort: this.formData.sort,
			}
			axios.request({
				url: 'banners/update',
				data: data,
				method: 'post'
			}).then((response) => {
				const res = response.data;
				if (res.code === 0) {
					this.$Message.success('成功');
					this.getMessage();
				} else {
					this.$Message.error(res.message);
				}
			}).catch(((err) => {
				this.$Message.error('网络异常');
			}))
		},
		cancel: function () {
		},

	},
	created () {
	},
	mounted () {
		this.getMessage();
	},
}
</script>

<style scoped>

.banner-img {
	width: 270px;
	height: 100px;
	padding: 2px;
	border-radius: 4px;
}

</style>
