<template>
	<div ref="dom"></div>
</template>

<script>
import axios from "@/libs/api.request";
import echarts from 'echarts'
import {on, off} from '@/libs/tools'

export default {
	name: 'cylinder_comment',
	data () {
		return {
			dom: null
		}
	},
	methods: {
		resize () {
			this.dom.resize()
		},
		index () {

			axios.request({
				url: "index/box",
				data: {},
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					const option = {
						title: {text: '最近30天意见箱数量', x: 'center', y: 'top', itemGap: 100, padding: [10, 0, 50, 0],},
						tooltip: {show: true},
						legend: {left: 'left', data: ['企业意见箱']},
						xAxis: [{
							type: 'category',
							data: res.data.arrayTime
						}],
						yAxis: [{type: 'value'}],
						series: [
							/*{
								"color": "#44e1f1",
								"name": "个人意见箱",
								"type": "bar",
								"data": res.data.user
							},*/
							{
								color: "#e58876",
								name: "企业意见箱",
								type: "bar",
								itemStyle: {        //上方显示数值
									normal: {
										label: {
											show: true, //开启显示
											position: 'top', //在上方显示
											textStyle: { //数值样式
												color: '#90acc4',
												fontSize: 12
											}
										}
									}
								},
								data: res.data.company
							},]
					}
					this.dom = echarts.init(this.$refs.dom);
					this.dom.setOption(option);
					on(window, 'resize', this.resize)
				}

			});

		},

	},
	mounted () {
		this.index();
	}
}
</script>
