<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

.ivu-list-header {
	font-size: 18px;
}

.ivu-switch-large.ivu-switch-checked:after {
	left: 49px;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List :header="title" footer="" border size="large" style="font-weight: bold;width: 650px;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row style="margin:10px;">
				<Form :label-width="100" :model="formValidate">
					<FormItem v-for="(item,index) in msgHeader" :label="item.title" :prop="index" style="margin-bottom:10px;">
						<Input v-model="item.value" placeholder="" style="width: 250px" v-if="!item.open" clearable/>
						<DatePicker confirm type="datetime" format="yyyy-MM-dd HH:mm:ss" v-model="item.value" placeholder="" style="width: 250px" v-else></DatePicker>
						<!--  <Button  type="primary" v-show="item.button" @click="showTime(index)"  style="margin-left:5px;">时间</Button>-->
						<i-Switch size="large" true-color="#13ce66" false-color="#ff4949" style="margin-left:5px;width: 70px;"
						          v-model="item.open"
						          v-show="item.button">
							<span slot="open">时间</span>
							<span slot="close">文本</span>
						</i-Switch>
						<!--
						<Poptip v-show="item.open" style="margin-left:5px;"
						placement="right"
						width="400"
						   >
						   <Button>时间选择</Button>
						   <div slot="content">
						   <DatePicker confirm  type="datetime"  format="yyyy-MM-dd HH:mm" v-model="selectTime" placeholder="" style="width: 200px"></DatePicker>
							<Button  type="primary" @click="showTime(index,selectTime)" v-show="item.open" style="margin-left:5px;">时间选择</Button>
						   </div>

					   </Poptip>
					   -->
					</FormItem>

					<FormItem label="跳转url" prop="jumpUrl" style="margin-bottom:10px;">
						<Input v-model="jumpUrl" placeholder="" style="width: 250px" clearable/>
						<i-Switch size="large" true-color="#13ce66" false-color="#ff4949" style="margin-left:5px;width: 70px;"
						          v-model="jumpUrlType"
						>
							<span slot="open" style="left:49px;">小程序</span>
							<span slot="close">普通url</span>
						</i-Switch>
					</FormItem>

				</Form>

			</Row>

		</List>

		<List header="用户选择" footer="" border size="large" style="font-weight: bold;margin-top:10px;margin-bottom:40px;">
			<Row style="margin:10px;">
				<userList @selectUser="getSelectUser"/>
			</Row>
		</List>


		<div class="footer">
			<Button @click="close">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button type="primary" @click="sendMsg()">确定发送</Button>

			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import userList from './user.vue'


export default {
	name: 'messageTemplate',
	components: {
		userList,
	},
	data () {
		return {
			keyword1: false,
			keyword2: false,
			keyword3: false,
			keyword4: false,
			spinShow: false,
			title: '',
			selectTime: '',
			selectUser: [],
			selectUserNumber: 0,
			msgHeader: [],
			jumpUrl: '',
			jumpUrlType: false,
			templateId: '',
			tableMess: [],
			formValidate: {},
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryTemplate',
				query: {
					id: this.$route.query.id,
					name: this.$route.query.name
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "template/message",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.title = res.data.title;
					this.msgHeader = res.data.msgHeader;
					this.templateId = res.data.templateId;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		showTime (type) {
			if (type == 'keyword1') {
				this.msgHeader.keyword1.open = !this.msgHeader.keyword1.open;
			} else if (type == 'keyword2') {
				this.msgHeader.keyword2.open = !this.msgHeader.keyword2.open;
			} else if (type == 'keyword3') {
				this.msgHeader.keyword3.open = !this.msgHeader.keyword3.open;
			} else if (type == 'keyword4') {
				this.msgHeader.keyword4.open = !this.msgHeader.keyword4.open;
			}

		},
		handleChangeTime (dateData) {
			let date = new Date(dateData)
			let y = date.getFullYear()
			let m = date.getMonth() + 1
			m = m < 10 ? ('0' + m) : m
			let d = date.getDate()
			d = d < 10 ? ('0' + d) : d
			let h = date.getHours()
			h = h < 10 ? ('0' + h) : h
			let M = date.getMinutes()
			M = M < 10 ? ('0' + M) : M
			let s = date.getSeconds()
			s = s < 10 ? ('0' + s) : s
			const time = y + '-' + m + '-' + d + ' ' + h + ':' + M;
			var new_time = time;
			return new_time
		},

		getSelectUser (data) {
			console.log(data);
			this.selectUser = data.data;
			this.selectUserNumber = data.number;
		},
		sendMsg () {
			this.$Modal.confirm({
				title: '是否确认发送消息',
				content: '<p>发送模板：' + this.title + '</p><p>一共发送人数：' + this.selectUserNumber + '</p>',
				onOk: () => {
					if (this.selectUserNumber <= 0) {
						this.$Message.error('发送失败，必须要选择发送对象！');
					} else {
						this.sendMsgMess();
					}

				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},
		sendMsgMess () {
			this.spinShow = true;
			const data = {
				ids: this.selectUser,
				templateId: this.templateId,
				message: this.msgHeader,
				jumpUrl: this.jumpUrl,
				jumpUrlType: this.jumpUrlType
			}
			axios.request({
				url: "template/send",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				this.spinShow = false;
				if (res.code == 0) {
					this.$Notice.info({
						duration: 0,
						title: '发送提示',
						desc: res.data.message
					});
				} else {
					this.spinShow = false;
					this.$Notice.error({
						duration: 0,
						title: '发送提示',
						desc: res.message
					});
				}
			});
		},


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		'$route': 'getMessage'
	},
	mounted () {
		this.getMessage();
		//alert(this.$route.query.id);
	}
}

</script>