<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>


		<div class="search-con search-con-top select_type_header">
			<div class="search_type">
				<div class="searchTopText">搜索企业</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
			</div>
			<div class="search_type">
				<div class="searchTopText">审核状态</div>
				<Select v-model="status" class="search-col">
					<Option v-for="item in statusList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>

			<div class="search_type">
				<div class="searchTopText">提交时间</div>
				<DatePicker type="datetimerange" placeholder="时间段" v-model="putTime" style="width: 280px;">
				</DatePicker>
				<Button @click="getMessage(1)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
			</div>

			<div class="search_type">
				<div>&nbsp;&nbsp;</div>
				<Button @click="getMessage" class="search-btn" type="primary" icon="md-download" v-show="0">导出</Button>
			</div>
		</div>


		<div class="table_style">
			<Table :columns="columns" :loading="tableLoading" :data="tableData" @on-sort-change="" ref="userTable">
				<template slot-scope="{ row,index }" slot="company">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.companyLogo">
						</div>
						<div class="image-title-show">
							<Tooltip :content="row.companyName">
								公司名称：{{ row.companyName }}
							</Tooltip>
							<br>
							<span v-show="row.industry">行业：{{ row.industry }}</span><br v-show="row.industry">
							<Tooltip :content="row.companyHas" v-show="row.companyHas.length>0 && row.status==0" transfer max-width="300">
								<span style="color:red;">存在相同企业</span><br>
							</Tooltip>
							<br>
							<Tooltip :content="row.reason" v-show="row.reason" transfer>
								<span style="color:#ff9900;">审核原因：{{ row.reason }}</span>
							</Tooltip>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="user">
					<div style="display: inline-block;">
						<div class="image-show">
							<img :src=" row.userAvatar">
						</div>
						<div class="image-title-show">
							<span>名称：{{ row.userName }}</span><br>
							<span>手机：{{ row.userMobile }}</span><br>
							<span v-show="row.status!=1">认证来源：{{ row.companySource }}</span>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="idCard">
					<div style="display: inline-block;">
						<div class="demo-upload-list">
							<img :src=" row.idCard">
							<div class="demo-upload-list-cover">
								<Icon type="ios-eye-outline" @click.native="handleView(row.idCard)"></Icon>
							</div>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="idCardBack">
					<div style="display: inline-block;">
						<div class="demo-upload-list">
							<img :src=" row.idCardBack">
							<div class="demo-upload-list-cover">
								<Icon type="ios-eye-outline" @click.native="handleView(row.idCardBack)"></Icon>
							</div>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="buss">
					<div style="display: inline-block;">
						<div class="demo-upload-list">
							<img :src=" row.buss">
							<div class="demo-upload-list-cover">
								<Icon type="ios-eye-outline" @click.native="handleView(row.buss)"></Icon>
							</div>
						</div>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="status">
					<span style="color:#19be6b;" v-show="row.status==1">已通过</span>
					<span style="color:#ed4014;" v-show="row.status==0">待审核</span>
					<span style="color:#ff9900;" v-show="row.status==2">审核不通过</span>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Poptip content="content" placement="left" v-show="row.statusValue==0"
					        transfer
					        confirm
					        title="审核操作"
					        ok-text="审核通过"
					        cancel-text="审核不通过"
					        @on-ok="changePass(row,'PASS',index)"
					        @on-cancel="changePass(row,'DELETE',index)">
						<Button type="success" icon="md-create" style="margin:5px;" v-show="row.statusValue==0">审核</Button>
					</Poptip>
				</template>
			</Table>
		</div>

		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getMessage"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>


		<Modal title="图片预览" v-model="visible" width="800">
			<img :src=" imgName" style="width: 100%" >
			<div slot="footer">
				<Button @click="cancel">取消</Button>
				<Button type="primary" @click="cancel">确定</Button>
			</div>
		</Modal>

		<Modal
			width=500
			v-model="messageBox"
			title="审核消息">
			<div style="">
				<Form :label-width="100" inline :model="reasonMsg">
					<FormItem label="审核原因">
						<RadioGroup v-model="reasonMsg.reasonType">
							<Radio label="身份证正面模糊" style="margin:0px  40px 5px 0px;">身份证正面模糊</Radio>
							<Radio label="身份证反面模糊" style="margin: 0px  40px 5px 0px;">身份证反面模糊</Radio>
							<Radio label="证件信息不正确" style="margin: 0px  40px 5px 0px;">证件信息不正确</Radio>
							<Radio label="reason" style="margin: 0px  40px 5px 0px;">自定义原因</Radio>
						</RadioGroup>
					</FormItem>
					<br>
					<FormItem label="自定义" v-show="reasonMsg.reasonType=='reason'">
						<Input v-model="reasonMsg.reason" type="textarea" :autosize="{minRows: 5, maxRows: 20 }" placeholder="" style="width:300px;"></Input>
					</FormItem>
				</Form>
			</div>

			<div slot="footer">
				<Button @click="messageBox=false">取消</Button>
				<Button type="primary" @click="toExamine(reasonMsg.row,reasonMsg.type, reasonMsg.index,reasonMsg.row.name,'no');">确定</Button>
			</div>

		</Modal>
		<Modal
			width=600
			v-model="passBox"
			title="审核消息">
			<div style="">
				<Form :label-width="100" inline :model="passMess">
					<FormItem label="证件照">
						<div class="demo-upload-list" style="width: 300px;height: 180px;">
							<img :src=" passMess.image">
						</div>
					</FormItem>
					<br>
					<FormItem label="名字">
						<Input v-model="passMess.name" placeholder="" style="width:300px;"></Input>
					</FormItem>
					<FormItem label="相同企业" v-show="passMess.row.companyHas">
						<span placeholder="" style="color:red;">{{ passMess.row.companyHas }}</span>
					</FormItem>
					<FormItem label="合并操作" v-show="passMess.row.companyHas">
						<RadioGroup v-model="passMess.merge">
							<Radio label="no" style="margin:0px  40px 5px 0px;">不合并企业</Radio>
							<Radio label="yes" style="margin: 0px  40px 5px 0px;">合并相同企业</Radio>
						</RadioGroup>
					</FormItem>
				</Form>
			</div>

			<div slot="footer">
				<Button @click="passBox=false">取消</Button>
				<Button type="primary" @click="toExamine(passMess.row,'PASS', passMess.index,passMess.name,passMess.merge);">确定</Button>
			</div>

		</Modal>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'companyExamine',
	components: {},
	data () {
		return {
			passBox: false,
			tableLoading: false,
			messageBox: false,
			visible: false,
			imgName: '',
			spinShow: false,
			text: '',
			status: '0',
			putTime: [],
			reasonMsg: {
				index: 0,
				row: {},
				type: '',
				reasonType: 'reason',
				reason: '',
			},
			passMess: {
				id: 0,
				name: '',
				image: '',
				row: {},
				index: 0,
				type: '',
				merge: 'no',
			},
			statusList: [
				{value: "0", label: "全部"},
				{value: "pass", label: "已通过"},
				{value: "wait", label: "待审核"},
				{value: "noPass", label: "审核不通过"},
			],
			columns: [],
			tableData: [],
			tableNumber: 0,
			page: 1,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
		}
	},

	methods: {
		...mapMutations([
			'closeTag'
		]),
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			//console.log(this.pageSizeOpts);
			const data = {
				keyword: this.text,
				status: this.status,
				time: this.putTime,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "company/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableData = res.data.items;
					this.tableNumber = res.data.total;
					this.page = res.data.page;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.tableLoading = false;
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

		showMessage (row) {
			const id = row.claimId;
			const route = {
				name: 'examineCompany',
				query: {
					id
				},
				meta: {
					title: `认领审核-${id}`
				}
			}
			this.$router.push(route)

			this.$router.resolve({
				path: "/member_user",
				query: {id: row.userId}
			});
		},

		handleView (name) {
			this.imgName = name;
			this.visible = true;
		},
		cancel () {
			this.visible = false;
		},

		//审核状态分流
		changePass (row, type, index) {
			if (type == 'PASS') {
				//this.saveMessage(row, type, index, 'pass');
				this.passMess.row = row;
				this.passMess.id = row.id;
				this.passMess.index = index;
				this.passMess.name = row.companyName;
				this.passMess.image = row.buss;
				this.passBox = true;
			} else {
				this.reasonMsg.type = type;
				this.reasonMsg.row = row;
				this.reasonMsg.index = index;
				this.messageBox = true;
			}
		},

		toExamine (row, type, index, name, merge) {
			this.$Modal.confirm({
				title: '是否确认操作',
				content: '<p>是否确认审核操作，审核后状态将不能修改！</p>',
				onOk: () => {
					if (type == 'PASS') {
						this.saveMessage(row, type, index, name, 'pass', merge);
					} else {
						this.checkReason(row, type, index);
					}
				},
				onCancel: () => {
					// this.$Message.info('Clicked cancel');
				}
			});
		},
		checkReason (row, type, index) {
			if (this.reasonMsg.reasonType == '') {
				this.$Message.error({
					content: '请选择原因！',
					duration: 5,
					closable: true
				});
				return;
			}
			if (this.reasonMsg.reasonType == 'reason' && this.reasonMsg.reason == '') {
				this.$Message.error({
					content: '审核内容不能为空！',
					duration: 5,
					closable: true
				});
				return;
			} else if (this.reasonMsg.reasonType == 'reason' && this.reasonMsg.reason != '') {
				this.saveMessage(row, type, index, row.companyName, this.reasonMsg.reason, 'no')
			} else {
				this.saveMessage(row, type, index, row.companyName, this.reasonMsg.reasonType, 'no')
			}

		},
		saveMessage (row, type, index, name, reason, merge) {
			const data = {
				id: row.id,
				oldName: row.companyName,
				name: name,
				status: type,
				reason: reason,
				merge: merge,
			}
			axios.request({
				url: "company/examine",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (type == 'PASS') {
						this.tableData[index]['statusValue'] = 1;
						this.tableData[index]['status'] = 1;
						this.passBox = false;
						this.$Message.success({
							content: '审核成功！',
							duration: 6,
							closable: true
						});
					} else {
						this.$Message.success({
							content: '操作成功！',
							duration: 6,
							closable: true
						});
						this.tableData[index]['statusValue'] = 1;
						this.tableData[index]['status'] = 2;
						this.tableData[index]['reason'] = reason;
						this.messageBox = false;
					}
				} else {
					this.messageBox = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},


	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage(0);
	}
}


</script>
