<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div class="search_type">
				<div class="searchTopText">关键字</div>
				<Select v-model="searchType" class="search-col" style="width:120px;">
					<Option v-for="item in searchTypeList" :value="item.value">{{ item.label }}</Option>
				</Select>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="keyword"/>
			</div>
			<div class="search_type">
				<div class="searchTopText">状态</div>
				<Select v-model="state" class="search-col">
					<Option v-for="item in stateList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div class="search_type">
				<div class="searchTopText">交易时间</div>
				<DatePicker v-model="time" type="datetimerange" format="yyyy-MM-dd HH:mm:ss" split-panels placeholder="时间段" style="width: 280px"></DatePicker>
				<Button @click="getOrderList(1)" class="searchBtn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div class="search_type">
				<div class="searchTopText"></div>
				<Button @click="explode(1)" class="searchBtn" type="primary" icon="md-download">导出</Button>
			</div>
		</div>

		<div class="table_style">
			<Table :columns=columns :data="tableMess" ref="WithdrawOrder" :loading="tableLoading">
				<template slot-scope="{ row,index }" slot="fromMessage">
					<div style="margin:5px;">
						<span>ID：{{ row.fromUserId }}</span><br>
						<span>名称：{{ row.fromUser }}</span><br>
						<span>手机号：{{ row.fromUserMobile }}</span>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="toMessage">
					<div style="margin:5px;">
						<span>ID：{{ row.toUserId }}</span><br>
						<span>名称：{{ row.toUser }}</span><br>
						<span>手机号：{{ row.toUserMobile }}</span>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="countMessage">
					<div style="margin:5px;">
						<span>意见箱：{{ row.boxName }}</span><br>
						<span>
							<Tooltip placement="bottom-start" :content="row.opinion"  transfer  max-width="240">
								<div style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width:220px;float:left;">意见：{{ row.opinion }}</div>
						    </Tooltip>
						</span><br>
						<span>打赏金额：<span style="color:#f74307;">{{ row.amount }}</span></span><br>
						<span>订单状态：{{row.orderState}}</span>
					</div>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<Button @click="showMessage(row)" type="primary" icon="ios-book" style="margin:5px;">详情</Button>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getOrderList"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>

	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: false,
			tableLoading: false,
			keyword: '',
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			page: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			time: [],
			state: 'all',
			stateList: [
				{
					value: 'all',
					label: '全部'
				},
				{
					value: 'SUCCESS',
					label: '支付成功'
				},
				{
					value: 'NOTPAY',
					label: '未支付'
				},
				{
					value: 'PAYERROR',
					label: '支付失败'
				},
			],
			searchType: 'fromMobile',
			searchTypeList: [
				{
					value: 'fromMobile',
					label: '打赏人手机号'
				},
				{
					value: 'toMobile',
					label: '被打赏人手机号'
				},
				{
					value: 'nickName',
					label: '名称'
				},
				{
					value: 'prepayId',
					label: '预支付订单号'
				},
				{
					value: 'wechatTransactionId',
					label: '支付订单号',
				}
			],
		}
	},

	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getTransaction(1);
		},

		getOrderList (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				searchType: this.searchType,
				keyword: this.keyword,
				state: this.state,
				page: page,
				time: this.time,
				pageSize: this.pageSize,
				exportData: 0,
			}
			axios.request({
				url: "transaction/order/get",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableMess = res.data.items;
					this.page = res.data.page;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.tableLoading = false;
					this.spinShow = false;
				}
			});
		},
		explode () {
			this.spinShow = true;
			const data = {
				keyword: this.keyword,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				exportData: 1,
				searchType: this.searchType,
				state: this.state,
				time: this.time,
			}
			axios.request({
				url: "transaction/order/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$refs.WithdrawOrder.exportCsv({
						filename: '打赏订单报表',
						columns: res.data.columns,
						data: res.data.items
					});
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const route = {
				name: 'queryRewardOrder',
				query: {
					id
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
			this.$router.resolve({
				path: "/rewardOrder",
				query: {id: row.id}
			});
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getOrderList(0);
	}
}


</script>
