<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div class="header_ba">
			<i class="header_ba_i"></i>提现订单详情
		</div>
		<div class="table_style">
			<Form :label-width="180" style="margin-bottom: 20px;">
				<FormItem label="预支付订单号：" prop="balance" style="margin-bottom: 5px;">
					<span style="color:#19a0db;">{{ tableData.prepay_id }} </span>
				</FormItem>
				<FormItem label="支付订单号：" prop="balance" style="margin-bottom: 5px;">
					<span style="color:#19a0db;">{{ tableData.wechat_transaction_id }} </span>
				</FormItem>
				<FormItem label="打赏人手机：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.fromUserMobile }} </span>
				</FormItem>
				<FormItem label="打赏人名称：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.fromUserName }} </span>
				</FormItem>
				<FormItem label="被打赏人手机：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.toUserMobile }} </span>
				</FormItem>
				<FormItem label="被打赏人名称：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.toUserName }} </span>
				</FormItem>
				<FormItem label="打赏金额：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.amount }} </span>
				</FormItem>
				<FormItem label="留言：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.attach }} </span>
				</FormItem>
				<FormItem label="支付方式：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.pay_type }} </span>
				</FormItem>
				<FormItem label="交易类型：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.trade_type }}</span>
				</FormItem>
				<FormItem label="订单状态：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.orderState }} </span>
				</FormItem>
				<FormItem label="支付时间：" prop="balance" style="margin-bottom: 0px;" v-show="tableData.order_state==='SUCCESS'">
					<span>{{ tableData.paySuccessTime }} </span>
				</FormItem>
				<FormItem label="发起时间：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.createdTime }}</span>
				</FormItem>
				<FormItem label="意见箱：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.boxname }}</span><br>
				</FormItem>
				<FormItem label="被打赏意见：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.opinionContent }}</span>
				</FormItem>

			</Form>
		</div>
		<div class="footer">
			<Button @click="close">关闭本页</Button>
		</div>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: false,
			tableLoading: false,
			tableData: [],
		}
	},

	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryRewardOrder',
				query: {
					id: this.$route.query.id
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "transaction/order/show",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.tableData = res.data.order;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage();
	}
}


</script>
