<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div class="search_type">
				<div class="searchTopText">手机</div>
				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="keyword"/>
			</div>
			<div class="search_type">
				<div class="searchTopText">状态</div>
				<Select v-model="state" class="search-col">
					<Option v-for="item in stateList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div class="search_type">
				<div class="searchTopText">交易时间</div>
				<DatePicker v-model="time" type="datetimerange" format="yyyy-MM-dd HH:mm:ss" split-panels placeholder="时间段" style="width: 280px"></DatePicker>
				<Button @click="getTransaction(1)" class="searchBtn" type="primary" icon="ios-search">搜索</Button>
			</div>
			<div class="search_type">
				<div class="searchTopText"></div>
				<Button @click="explode(1)" class="searchBtn" type="primary" icon="md-download">导出</Button>
			</div>
		</div>

		<div class="table_style">
			<Table :columns=columns :data="tableMess" ref="WithdrawOrder" :loading="tableLoading">
				<template slot-scope="{ row,index }" slot="message">
					<span>ID：{{ row.userId }}</span><br>
					<span>手机号：{{ row.userMobile }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<div v-show="row.state==='WAIT'" style="margin:5px;">
						<Poptip content="content" placement="left"
						        transfer
						        confirm
						        title="审核操作"
						        ok-text="通过"
						        cancel-text="驳回"
						        @on-ok="changePass(row,'PASS')"
						        @on-cancel="changePass(row,'DELETE')">
							<Button type="success" icon="md-create" style="margin:5px;">审核</Button>
						</Poptip>
						<Button @click="showMessage(row)" type="primary" icon="ios-book" style="margin:5px;">详情</Button>
					</div>
					<div v-show="row.state!=='WAIT'" style="margin:5px;">
						<div style="margin:5px;">
							<span style="margin:5px;">{{ row.reviewUser }}</span>
							<span v-show="row.state==='REJECT'" style="margin:5px;">已驳回</span>
							<span v-show="row.state==='SUCCESS'" style="margin:5px;">已通过</span>
							<span @click="showMessage(row)" style="margin:5px;color:#2d8cf0;cursor:pointer;">详情</span>
							<br>
							<span v-show="row.state==='REJECT'" style="color:red;"> 拒绝原因：{{ row.rejectReason }}</span>
							<span v-show="row.alipayOrderState!=='SUCCESS' && row.alipayOrderState!==''" style="color:red;"> 提现失败：{{ row.rejectReason }}</span>
						</div>
					</div>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getTransaction"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>
		<Modal
			width=300
			v-model="messageBox">
			<p slot="header" style="color:#f60;text-align:center">
				<Icon type="ios-information-circle"></Icon>
				<span>是否确定驳回申请</span>
			</p>
			<div style="text-align: center;margin-bottom: 10px;"><span>驳回后无法撤回</span></div>
			<div style="text-align: center;">
				<Input v-model="reason" type="textarea" :autosize="{minRows: 3, maxRows: 20 }" placeholder="请输入驳回原因" style="width:250px;"></Input>
			</div>
			<div slot="footer">
				<Button @click="messageBox=false">取消</Button>
				<Button type="primary" @click="saveMessage('delete',checkId.orderId,checkId.userId)">确定</Button>
			</div>
		</Modal>

	</div>

</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
import Cookies from "js-cookie";


export default {

	name: 'withdrawalReview',
	components: {},
	data () {
		return {
			tableLoading: false,
			messageBox: false,
			modalShow: false,
			spinShow: false,
			reason: '',
			checkId: [],
			keyword: '',
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			page: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			time: [],
			type: 'all',
			typeList: [
				{
					value: 'all',
					label: '全部'
				},
				{
					value: 'accept',
					label: '收到打赏'
				},
				{
					value: 'active',
					label: '打赏'
				},
				{
					value: 'withdrawal',
					label: '提现'
				},
			],
			state: 'all',
			stateList: [
				{
					value: 'all',
					label: '全部'
				},
				{
					value: 'success',
					label: '成功'
				},
				{
					value: 'reject',
					label: '拒绝'
				},
				{
					value: 'wait',
					label: '等待审核'
				},
			],
		}
	},

	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getTransaction(1);
		},
		getTransaction (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				keyword: this.keyword,
				state: this.state,
				page: page,
				time: this.time,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "transaction/get",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableMess = res.data.items;
					this.page = res.data.page;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.tableLoading = false;
					this.spinShow = false;
				}
			});
		},

		explode () {
			this.spinShow = true;
			const data = {
				keyword: this.keyword,
				status: this.status,
				sortColumn: this.sortColumn,
				sortVal: this.sortVal,
				exportData: 1,
			}
			axios.request({
				url: "transaction/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.$refs.WithdrawOrder.exportCsv({
						filename: '审核报表',
						columns: res.data.columns,
						data: res.data.items
					});
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},

		//审核状态分流
		changePass (row, type) {
			if (type == 'PASS') {
				this.$Modal.confirm({
					title: '是否确定审核通过',
					content: '<p>通过后无法撤回</p>',
					onOk: () => {
						this.saveMessage('PASS', row.orderId, row.userId)
					},
					onCancel: () => {
						// this.$Message.info('Clicked cancel');
					}
				});
			} else {
				this.checkId = row;
				this.messageBox = true;
			}
		},
		saveMessage (type, orderId, userId) {
			if (type == 'PASS') {
				this.sendMessageOther(orderId, userId, true, '');
			} else {
				if (this.reason == '') {
					this.$Modal.warning({
						title: '错误提示',
						content: '请输入驳回原因'
					});
				} else {
					this.sendMessageOther(orderId, userId, false, this.reason);
					this.messageBox = false;
					this.reason = '';
					this.checkId = 0;
				}
			}
		},

		sendMessageOther (id, userId, type, rejectReason) {
			//数据加密
			const sendCode = this.$md5(this.$cookies.get('id') + '&' + userId + '&' + id + '&' + config.PUBLIC_KEY);
			this.$cookies.set('sign', sendCode);
			const data = {
				adminId: Number(this.$cookies.get('id')),
				checkResult: type,
				rejectReason: rejectReason,
				orderId: id,
				toUserId: userId,
				userId: 0,
			}
			axios.request({
				url: config.OTHER_PAY_URL,
				data,
				method: "post",
				headers: {
					'token': 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdXRoZW50aWNhdGVkIjpmYWxzZSwiaXNzdWVkQXQiOiIyMDIxLTEyLTAxVDA1OjIyOjI0WiIsInVzZXJJZCI6IjU0MTYiLCJ3ZUNoYXRJZCI6IiJ9.EfGVOSUGpoUT95lN6MwVJaICRZom-LmwNjmEqMRnOME',
					'platform-code': 'PC',
					'sign': sendCode
				}
			}).then((response) => {
				const res = response.data;
				console.log(res);
				if (res.code == 0) {
					this.getTransaction(this.page);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.getTransaction(this.page);
					this.spinShow = false;
				}
			});
		},

		//自己环境测试使用
		sendMessageSelf (id) {
			const data = {
				id: id,
			}
			axios.request({
				url: "alipay/carry",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.getTransaction(this.page);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},

		sendMessageReject () {
			const data = {
				id: this.checkId,
				reason: this.reason,
			}
			axios.request({
				url: "transaction/refuse",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.getTransaction(this.page);
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.spinShow = false;
				}
			});
		},

		showMessage (row) {
			const id = row.id;
			const route = {
				name: 'queryWithdrawalReview',
				query: {
					id
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)
			this.$router.resolve({
				path: "/withdrawalReview",
				query: {id: row.id}
			});
		}

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getTransaction(0);
	}
}


</script>
