<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="header_ba">
			<i class="header_ba_i"></i>提现详情
		</div>
		<div class="table_style">
			<Form :label-width="180">
				<FormItem label="提现金额：" prop="balance" style="margin-bottom: 5px;">
					<span style="color:#19a0db;">{{ tableData.amount }} 元</span>
				</FormItem>
				<FormItem label="提现人：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.to_user }} </span>
				</FormItem>
				<FormItem label="提现人手机：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.user.mobile }} </span>
				</FormItem>
				<FormItem label="提现人ID：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.to_user_id }} </span>
				</FormItem>
				<FormItem label="支付宝账号ID：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.alipay_user_id }} </span>
				</FormItem>
				<FormItem label="支付宝账号用户名：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.alipay_user_name }} </span>
				</FormItem>
				<FormItem label="支付宝打款订单号：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.alipay_order_id }} </span>
				</FormItem>
				<FormItem label="支付宝打款流水单号：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.alipay_fund_order_id }} </span>
				</FormItem>
				<FormItem label="支付宝订单状态码：" prop="balance" style="margin-bottom: 0px;">
					<span>{{ tableData.alipay_order_state }} </span>
					<span v-show=" tableData.alipay_order_state==='PAYEE_NOT_EXIST'" style="margin-left:10px;color:red;"> (提现失败)</span>
					<span v-show=" tableData.alipay_order_state==='SUCCESS'" style="margin-left:10px;color:green;"> (提现成功)</span>
				</FormItem>
				<FormItem label="提现失败原因：" prop="balance" style="margin-bottom: 0px;" v-show="tableData.alipay_order_state!='SUCCESS'">
					<span>{{ tableData.reject_reason }} </span>
				</FormItem>
				<FormItem label="提现方式：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.pay_type }} </span>
				</FormItem>
				<FormItem label="提现时间：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.createdTime }} </span>
				</FormItem>
				<FormItem label="处理时间：" prop="balance" style="margin-bottom: 5px;">
					<span>{{ tableData.updatedTime }} </span>
				</FormItem>
				<FormItem label="订单状态：" prop="balance" style="margin-bottom: 0px;">
					<span v-show="tableData.state==='WAIT'">待审核</span>
					<span v-show="tableData.state==='REJECT'">拒绝</span>
					<span v-show="tableData.state==='SUCCESS'">成功 </span>
				</FormItem>
				<FormItem label="审核用户名：" prop="balance" style="margin-bottom: 5px;" v-show="tableData.state!=='WAIT'">
					<span>{{ tableData.review_user }} </span>
				</FormItem>
				<FormItem label="审核拒绝原因：" prop="balance" style="margin-bottom: 0px;" v-show="tableData.state==='REJECT'">
					<span>{{ tableData.reject_reason }} </span>
				</FormItem>
			</Form>
		</div>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'customMessage',
	components: {},
	data () {
		return {
			spinShow: true,
			tableData: [],
		}
	},

	methods: {
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "transaction/show",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.tableData = res.data.withdrawOrder;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		}
	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		//alert(this.$route.query.id);
		this.getMessage();
	}
}


</script>
