<style lang="less">
/deep/ .meach {
	margin-bottom: 24px;
	vertical-align: top;
	zoom: 1;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>

		<div>
			<Alert class="header_title" show-icon>
				<Icon type="ios-bulb-outline" slot="icon" size="25"></Icon>
				个人资料修改
			</Alert>
		</div>

		<div class="table_style">
			<Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="100">
				<FormItem label="头像" prop="headerValue">
					<ImagesOne @selectImg="openImagesModalOne" :sendData="logo"/>
				</FormItem>

				<FormItem label="旧账号名" prop="oldName" style="margin-bottom: 24px;vertical-align: top;zoom: 1;">
					<Input v-model="formValidate.oldName" disabled placeholder="" style="width: 200px"></Input>
				</FormItem>

				<FormItem label="新账号名" prop="newName" style="margin-bottom: 24px;vertical-align: top;zoom: 1;">
					<Input v-model="formValidate.newName" placeholder="" style="width: 200px"></Input>
				</FormItem>

				<FormItem label="旧密码" prop="oldPass" style="margin-bottom: 24px;vertical-align: top;zoom: 1;">
					<Input v-model="formValidate.oldPass" type="password" password placeholder="" style="width: 200px"></Input>

				</FormItem>

				<FormItem label="新密码" prop="newPass" style="margin-bottom: 24px;vertical-align: top;zoom: 1;">
					<Input v-model="formValidate.newPass" type="password" password placeholder="" style="width: 200px"></Input>
					<span style="color:red;margin-left:5px;">密码长度6-12位</span>
				</FormItem>
			</Form>


		</div>


		<div class="footer">
			<Button @click="close" type="default">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>

			<Button type="primary" @click="handleSubmit('formValidate')">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>

<script>
import {mapMutations, mapActions} from 'vuex';
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import ImagesOne from '@/view/example/images_one.vue';
import config from '@/config/index.js';
import Cookies from 'js-cookie';

export default {
	name: 'adminMessage_page',
	components: {
		ImagesOne,
	},
	data () {
		return {
			spinShow: false,
			formValidate: {
				oldName: '',
				newName: '',
				oldPass: '',
				newPass: '',
				headerUrl: '',
				headerValue: '',
				id: Cookies.get('id'),
			},
			logo: {
				url: '',
				name: ''
			},
			ruleValidate: {
				oldPass: [
					{required: true, min: 6, max: 12, message: '密码不规范！', trigger: 'blur'}
				],
				newPass: [
					{required: true, min: 6, max: 12, message: '密码不规范！', trigger: 'blur'}
				],
			},


		}
	},

	methods: {
		...mapMutations([
			'closeTag'
		]),
		...mapActions([
			'handleLogOut'
		]),

		openImagesModalOne (res) {
			console.log(res.data);//子组件传进来的数据
			this.formValidate.headerUrl = res.data.url;
			this.formValidate.headerValue = res.data.name;

		},
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: '个人资料',
			})
		},
		logout () {
			this.handleLogOut().then(() => {
				this.$router.push({
					name: 'login'
				})
			})
		},

		handleSubmit (name) {
			this.$refs[name].validate((valid) => {
				if (valid) {
					this.saveMessage();

				} else {
					this.$Message.error('信息错误，保存失败!');
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: Cookies.get('id'),
			};
			axios.request({
				url: 'admin/show',
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.logo.url = res.data.avatar;
					this.logo.name = res.data.avatar;
					this.formValidate.headerUrl = res.data.avatar;
					this.formValidate.headerValue = res.data.avatar;
					this.formValidate.oldName = res.data.name;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		saveMessage () {
			this.spinShow = true;
			const data = {
				data: this.formValidate,
			};
			axios.request({
				url: 'admin/update',
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.spinShow = false;
					this.$Message.success({
						content: '修改成功，需要重新登录之后再能访问！',
						duration: 6,
						closable: true
					});
					setTimeout(() => {
						this.logout();
					}, 5000)
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

	},

	mounted () {
		this.getMessage();
	}
}
</script>


