<style lang="less">
table {
  background-color: #000;
}

table td {
  padding: 1px 1px 1px 1px;
  width: 14px;
  height: 12px;
  color: red;
  //background: url('https://cjyjxqny.missapp.com/image/2022/03/09/qU8YFXht6228a21a9271a.jpg')
}

table tr {
  background-color: #000;
}

.sn {
  background: #fff;
}

.bright {
  background: #fff;
}

marquee {
  width: 400px;
  height: 400px;
  font-size: 50px;
  color: red;
  background: #000;
  text-align: center;
}

.divTable {
  width: 10px;
  height: 10px;
  background: #fff;
}

.divHeaderTable {
  width: 10px;
  height: 10px;
  background: #ee0c0c;
}

.divImage {
  width: 11px;
  height: 11px;
  background: #87d068;
  border-radius: 20px;
}

</style>

<template>
  <div class="main_style">
    <Spin fix v-if="spinShow" style="position: relative;">
      <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
      <div>加载中......</div>
    </Spin>
    <div>
      <h3>php贪吃蛇->[分数：{{ score }}]</h3>
      <Button type="primary" style="margin:5px;" @click="start">开始</Button>
      <Button type="error" style="margin:5px;" @click="stop">停止</Button>
    </div>
    <div class="table_style">
      <table>
        <tr v-for="(item,ind) in snakeBackHheight" :key="ind">
          <td v-for="(wid,index) in snakeBackWidth " :key="index">
            <div class="divTable" v-if="countNum(snake,index,ind)==1"></div>
            <div class="divImage" v-else-if="food[0]==index && food[1]==ind"></div>
            <div v-else></div>
          </td>
        </tr>
      </table>
    </div>
    <div style="text-align: left;width: 300px;">
      <div class="page_style" style="line-height: 40px;">
        <Button type="success" @click="send('up')">
          <Icon type="md-arrow-round-up"/>
        </Button>
        <br>
        <Button type="success" style="margin-right:20px;" @click="send('left')">
          <Icon type="md-arrow-round-back"/>
        </Button>
        <Button type="success" style="margin-left:20px;" @click="send('right')">
          <Icon type="md-arrow-round-forward"/>
        </Button>
        <br>
        <Button type="success" @click="send('down')">
          <Icon type="md-arrow-round-down"/>
        </Button>
      </div>
    </div>
  </div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {
  name: 'customMessage',
  components: {},
  data() {
    return {
      timer: null,
      spinShow: false,
      snakeBackHheight: 30,
      snakeBackWidth: 60,
      score: 0,
      direction: 'right',
      showOneArray: [],//y轴
      showTwoArray: [],//x轴
      snakeHeader: [],
      snake: [],
      food: [],
    }
  },

  methods: {
    countNum(array, strX, strY) {
      for (let item of array) {
        if (item[0] == strX && item[1] == strY) {
          console.log(strX);
          return 1;
        }
      }
    },
    send(type) {
      this.direction = type;
      const data = {
        isOn: 'on',
        direction: type,
        snake: this.snake,
        score: this.score,
        food: this.food
      }
      axios.request({
        url: "snake",
        data,
        method: "post"
      }).then((response) => {
        const res = response.data;
        if (res.code == 0) {
          if (res.data.die == 1) {
            this.$Message.error({
              content: '你已经game over！',
              duration: 6,
              closable: true
            });
            clearInterval(this.timer);
            this.timer = null
          }
          this.food = res.data.food;
          this.snake = res.data.snake;
          this.snakeHeader = res.data.header;
          this.score = res.data.score;
        }
      });
    },
    start() {
      const data = {
        isOn: 'on',
        direction: '',
      }
      axios.request({
        url: "snakeStart",
        data,
        method: "post"
      }).then((response) => {
        const res = response.data;
        if (res.code == 0) {
          this.food = res.data.food;
          this.snake = res.data.snake;
          this.snakeHeader = res.data.header;
          this.score = res.data.score;
          this.timer = setInterval(() => {
            this.send(this.direction);
          }, 500);
        } else {
        }
      });
    },
    stop() {
      clearInterval(this.timer);
      this.timer = null // 这里最好清除一下，回归默认值
      // 众所周知，定时器返回一个随机整数，用于表示定时器的编号，后面通过名字可以取消这个定时器的执行。
      console.log(this.timer);
    },
  },
  created() {

  },
  beforeDestroy() {
    // js提供的clearInterval方法用来清除定时器
    clearInterval(this.timer);
  },
  watch: {
    // 如果路由有变化，会再次执行该方法

  },
  mounted() {
    //alert(this.$route.query.id);
  }
}


</script>
