<style lang="less">


</style>

<template>
	<div class="main_style">
		<Spin fix v-if="spinShow" style="position: relative;">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="search-con search-con-top select_type_header">
			<div class="search_type">
				<div class="searchTopText">类型</div>
				<Select v-model="type" class="search-col">
					<Option v-for="item in typeList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div class="search_type">
				<div class="searchTopText">状态</div>
				<Select v-model="state" class="search-col">
					<Option v-for="item in stateList" :value="item.value">{{ item.label }}</Option>
				</Select>
			</div>
			<div class="search_type">
				<div class="searchTopText">交易时间</div>
				<DatePicker v-model="time" type="datetimerange" format="yyyy-MM-dd HH:mm:ss" split-panels placeholder="时间段" style="width: 280px"></DatePicker>
				<Button @click="getTransaction(1)" class="searchBtn" type="primary" icon="ios-search">搜索</Button>
			</div>
		</div>

		<div class="table_style">
			<Table :columns=columns :data="tableMess" ref="userTable">
				<template slot-scope="{ row,index }" slot="message">
					<span v-show="row.TransactionType==='orderReduce'">主动打赏</span>
					<span v-show="row.TransactionType==='orderAdd'">收到打赏</span>
					<span v-show="row.TransactionType==='draw'">提现</span>
				</template>
				<template slot-scope="{ row,index }" slot="money">
					<span v-show="row.TransactionType==='orderReduce'" style="color:#fc011a;">-{{ row.amount }}</span>
					<span v-show="row.TransactionType==='orderAdd'" style="color:#ff9900;">+{{ row.amount }}</span>
					<span v-show="row.TransactionType==='draw'" style="color:#2cfc02;">{{ row.amount }}</span>
				</template>
				<template slot-scope="{ row,index }" slot="edit">
					<div v-show="row.orderType==='order'" style="margin:5px;">
						<span class="span_message_style_25">意见箱：{{ row.boxName }}</span><br>
						<span class="span_message_style_25">对方ID：{{ row.toUserId }}</span>
					</div>
					<div v-show="row.orderType==='draw'" style="margin:5px;">
						<div>
							<span class="span_message_style_25">{{ row.reviewUser }}</span><br v-show="row.reviewUser">
							<span class="span_message_style_25">{{ row.state }}</span><br v-show="row.state">
							<span style="color:orangered;" class="'span_message_style_25">{{ row.rejectReason }}</span>
						</div>
					</div>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page
				:total="tableNumber"
				:page-size="pageSize"
				:current="page"
				:page-size-opts="pageSizeOpts"
				@on-change="getTransaction"
				@on-page-size-change="handlePageSize"
				show-total
				show-sizer
				show-elevator/>
		</div>
	</div>

</template>


<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';

export default {

	name: 'transaction',
	props: {
		dataValue: Object,
	},
	components: {},
	data () {
		return {
			modalShow: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			page: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			time: [],
			type: 'all',
			typeList: [
				{
					value: 'all',
					label: '全部'
				},
				{
					value: 'accept',
					label: '收到打赏'
				},
				{
					value: 'active',
					label: '打赏'
				},
				{
					value: 'withdrawal',
					label: '提现'
				},
			],
			state: 'all',
			stateList: [
				{
					value: 'all',
					label: '全部'
				},
				{
					value: 'success',
					label: '成功'
				},
				{
					value: 'fail',
					label: '失败'
				},
			],
		}
	},

	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getTransaction(1);
		},
		getTransaction (page) {
			const data = {
				id: this.$route.query.id,
				type: this.type,
				state: this.state,
				page: page,
				pageSize: this.pageSize,
			}
			axios.request({
				url: "users/transaction/get",
				data,
				method: "post"
			}).then((response) => {
				const res = response.data;
				if (res.code == 0) {
					this.columns = res.data.columns;
					this.tableMess = res.data.items;
					this.tableNumber = res.data.total;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法

	},
	mounted () {
		this.columns = this.dataValue.data.columns;
		this.tableMess = this.dataValue.data.items;
		this.tableNumber = this.dataValue.data.total;
		this.page = this.dataValue.data.page;
	}
}


</script>
