<style lang="less">

</style>
<template>
	<!-- 提出意见 -->
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<div class="table_style_more_one">
			<Table :loading="tableLoading" :columns=columns :data="tableMess" ref="userTable" @on-sort-change="getMessageSor">
				<template slot-scope="{ row,index }" slot="edit" class="button_set">
					<span style="color:#2d8cf0;cursor:pointer;" @click="showMessage(row)">查看</span>
				</template>
			</Table>
		</div>
		<div class="page_style">
			<Page :total="tableNumber"
			      :page-size="pageSize"
			      :current="page"
			      :page-size-opts="pageSizeOpts"
			      @on-change="getMessage"
			      @on-page-size-change="handlePageSize"
			      show-total
			      show-sizer
			      show-elevator
			/>
		</div>


		<Modal
			width="1000"
			v-model="modalShow"
			footer-hide
		>
			<div class="main_style" style="margin-top:25px;">
				<div>
					<Row style="margin-bottom:10px;">
						<Col span="6">提意见类型：</Col>
						<Col span="6">意见主题：</Col>
						<Col span="6">提出时间：</Col>
						<Col span="6">途径：</Col>
					</Row>
					<br>
					<Row style="margin-bottom:10px;">
						<Col span="6">意见接收方：</Col>
						<Col span="6">是否采纳：</Col>
						<Col span="6">是否企业角色：</Col>
						<Col span="6"></Col>
					</Row>
					<br>
					<Row style="margin-bottom:10px;">
						<Col span="24">
							<div>
								<div style="display: inline-block;">意见内容：</div>
								<div style="display: inline-block;vertical-align: top;">
									<Input type="textarea" :autosize="{minRows: 3,maxRows: 2}" placeholder="" style="width:600px;"></Input>
								</div>
							</div>
						</Col>

					</Row>
					<br>
					<Row style="margin-bottom:15px;">
						<Col span="12">
							<div>
								<div style="display: inline-block;">上传图片：</div>
								<div class="image-show-message" v-for="item in opinionMessage.image">
									<img src=" http://www.one.com/storage/attachments/2020/12/0v1nwx3p5fec29af2a920.png">
								</div>

							</div>
						</Col>
						<Col span="12">
							<div>
								<div style="display: inline-block;">上传视频：</div>
								<div style="display: inline-block;vertical-align: top;">
									<video src="https://haokan.baidu.com/v?vid=11269863328578387089&pd=pcshare" controls="controls" width="200" height="100"></video>
								</div>
							</div>
						</Col>
					</Row>
					<br>
					<Row style="margin-bottom:10px;">
						<Col span="12">用户姓名：</Col>
						<Col span="12">联系方式：</Col>
					</Row>
					<br>
					<Row style="margin-bottom:10px;">
						<Col span="24">
							<div>
								<div style="display: inline-block;">附加题：</div>
								<div style="display: inline-block;vertical-align: top;">
									<Input type="textarea" :autosize="{minRows: 3,maxRows: 2}" placeholder="" style="width:600px;"></Input>
								</div>
							</div>
						</Col>
					</Row>
					<br>
					<Row style="margin-bottom:10px;">
						<Col span="12">回复者昵称：</Col>
						<Col span="12">回复时间：</Col>
					</Row>
					<br>
					<Row>
						<Col span="24">
							<div>
								<div style="display: inline-block;">回复详情：</div>
								<div style="display: inline-block;vertical-align: top;">
									<Input type="textarea" :autosize="{minRows: 3,maxRows: 2}" placeholder="" style="width:600px;"></Input>
								</div>
							</div>
						</Col>
					</Row>
					<br>
				</div>

			</div>


		</Modal>


	</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
//意见列表
export default {
	name: 'propose',
	props: {
		dataValue: Object,
	},
	components: {},
	data () {
		return {
			tableLoading: false,
			modalShow: false,
			spinShow: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			page: 0,
			sortColumn: '',
			sortVal: '',
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			opinionMessage: {
				image: [1, 2, 3, 4, 5]
			}
		}
	},
	methods: {
		handlePageSize (pageSize) {
			this.pageSize = pageSize;
			this.getMessage(1);
		},
		getMessageSor (val) {
			this.sortColumn = val.key;
			this.sortVal = val.order;
			this.getMessage(1);
		},
		getMessage (page) {
			if (page > 0) {
				this.tableLoading = true;
			} else {
				this.spinShow = true;
			}
			const data = {
				userId: this.$route.query.id,
				page: page,
				pageSize: this.pageSize,
				sortColumn: this.sortColumn,//排序字段
				sortVal: this.sortVal,//升序或降序
			}
			axios.request({
				url: "users/opinion",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					if (page == 0) {
						this.columns = res.data.columns;
					}
					this.tableMess = res.data.items;
					this.tableNumber = res.data.total;
					this.tableLoading = false;
					this.spinShow = false;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
					this.tableLoading = false;
					this.spinShow = false;
				}
			});
		},
		showMessage (row) {
			const id = row.id;
			const name = '意见详情';
			const type = 1;
			const route = {
				name: 'queryComment',
				query: {
					id,
					name,
					type
				},
				meta: {
					title: `参数-${id}`
				}
			}
			this.$router.push(route)

		}

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
	},
	mounted () {
		this.columns = this.dataValue.data.columns;
		this.tableMess = this.dataValue.data.items;
		this.tableNumber = this.dataValue.data.total;
		this.page = this.dataValue.data.page;
	}
}

</script>
