<style lang="less">
.ivu-form-item {
	margin-top: 0px;
	margin-bottom: 0px;
	vertical-align: top;
	zoom: 1;
}

.count-style-mes {
	font-size: 30px;
	color: #dc9387;
}

.style_number_small {
	display: inline-block;
	margin-right: 5px;
	font-size: 5px;
	color: #79888d;
}

.style_name_gre {
	display: inline-block;
	font-size: 15px;
	margin: 0px 5px 0px 5px;
}

.style_count_user {
	display: inline-block;
	font-size: 30px;
	color: #e58876;
}

.style_count_per {
	display: inline-block;
	color: #84a463;
}

</style>
<template>
	<div class="main_style">
		<Spin fix v-if="spinShow">
			<Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
			<div>加载中......</div>
		</Spin>
		<List header="用户详情" footer="" border size="large" style="font-weight: bold;">
			<!-- <ListItem>This is a piece of text.</ListItem> -->
			<Row style="margin:10px;">
				<Col span="6" style="text-align: center;">
					<div class="image-show-member">
						<img :src=" tableData.avatar">
					</div>
				</Col>
				<Col span="6">
					<Form ref="tableData" :label-width="100">
						<FormItem label="昵称：" prop="MIBNYHY">
							<span>{{ tableData.name }}</span>
						</FormItem>
						<FormItem label="手机：" prop="MIBNYHY" v-show="power.userMobile">
							<span>{{ tableData.mobile }}</span>
						</FormItem>
						<FormItem label="注册来源：" prop="platform">
							<span>{{ tableData.platform }}</span>
						</FormItem>
						<FormItem label="匿名分身：" prop="MIBNYHY">
							<span>{{ tableData.alias }}</span>
						</FormItem>
						<FormItem label="匿名头像：" prop="MIBNYHY">
							<Avatar size="large" :src="tableData.alias_avatar" shape="circle" v-show="tableData.alias_avatar" style="border: 1px solid #f14a3e;"/>
						</FormItem>
					</Form>
				</Col>
				<Col span="12">
					<Form :label-width="100">
						<FormItem label="账户余额：" prop="balance">
							<span style="color:#19a0db;">{{ tableData.balance }} 元</span>
						</FormItem>
						<FormItem label="注册时间：" prop="MIBNYHY">
							<span>{{ tableData.createTime }}</span>
						</FormItem>
						<FormItem label="更新时间：" prop="MIBNYHY">
							<span>{{ tableData.updateTime }}</span>
						</FormItem>
						<FormItem label="所属企业：" prop="MIBNYHY">
							<div v-for="item in tableData.company">
								<span>{{ item.companyName }} </span>
								<span style="margin-left:10px" v-show=" item.companyUser"> 成员名称：{{ item.companyUser }}/{{ item.companyRole }}</span>
							</div>

						</FormItem>
					</Form>
				</Col>
			</Row>

			<Row>
				<Col span="20" v-show="tableData.applet!=''">
					<div style="margin:5px;">
						<div class="header_ba">
							<i class="header_ba_i"></i> 已注册小程序
						</div>
						<Button v-for="item in tableData.applet" type="primary" icon="logo-freebsd-devil" style="margin:5px;">{{ item }}</Button>
					</div>
				</Col>
				<Col span="4"></Col>
			</Row>

		</List>
		<Row style="margin-top:10px;" v-show="power.userAmount">
			<Col span="20">
				<div style="margin:5px;">
					<div class="header_ba">
						<i class="header_ba_i"></i> 账户信息
					</div>
				</div>
				<div style="margin:0px 10px 10px 0px">
					<Card style="width:200px;display: inline-block;margin-left: 10px;margin-top:10px;" v-for="item in numOne">
						<div style="text-align:center">
							<div class="count-style-mes">
								<count-to :end="item.num" :decimals="2"></count-to>
							</div>
							<h3>{{ item.label }}</h3>
						</div>
					</Card>
				</div>
			</Col>
		</Row>
		<Row style="margin-top:10px;" v-show="power.userAmount">
			<Col :xs="24" :md="12" :lg="8" :sm="12" style="padding: 10px;">
				<Card :padding=0>
					<p slot="title">提现数据</p>
					<p slot="extra">
						<Tooltip content="总记录包含失败和失效数据,条数为提现记录总数，金额是总记录总金额" placement="top" transfer max-width="240">
							<Icon type="ios-help-circle-outline" size="20"/>
						</Tooltip>
					</p>
					<div style="min-height:125px;">
						<div style="margin:0px 15px 0px 15px;">
							<count-to :end="withOther.withAll" class="style_count_user"/>
							<span class="style_name_gre"> 条 </span>
							<span class="style_number_small"> 成功：{{ withOther.withAllReally }} ,  失败/待审核：{{ withOther.withAll - withOther.withAllReally }} </span>
						</div>
						<div style="margin:0px 15px 0px 15px;">
							<count-to :end="withOther.withAllMoney" :decimals="2" class="style_count_user"/>
							<span class="style_name_gre"> 元 </span>
							<span class="style_number_small"> 成功：{{ withOther.withAllMoneyReally }} ,
								失败/待审核：<count-to :end="withOther.withAllMoney - withOther.withAllMoneyReally" :decimals="2" class="style_number_small"/>
							</span>
						</div>
						<div style="margin:10px 15px 15px 15px;line-height:32px;">
							<span style="display: inline-block;margin-right: 10px;">
								成功占比 <count-to :end="withOther.withOtherPer" :decimals="2" class="style_count_per"/>%
							</span>
							<span style="display: inline-block;margin-right: 10px;">
								成功金额占比 <count-to :end="withOther.withAllMoneyPer" :decimals="2" class="style_count_per"/>%
							</span>
						</div>
					</div>

				</Card>
			</Col>
			<Col :xs="24" :md="12" :lg="8" :sm="12" style="padding: 10px;">
				<Card :padding=0>
					<p slot="title">被打赏数据</p>
					<p slot="extra">
						<Tooltip content="总记录包含失败和失效数据，条数为被打赏记录总数，金额是被打赏总金额" placement="top" transfer max-width="240">
							<Icon type="ios-help-circle-outline" size="20"/>
						</Tooltip>
					</p>
					<div style="min-height:125px;">
						<div style="margin:0px 15px 0px 15px;">
							<count-to :end="orderMoney.orderAllOther" class="style_count_user"/>
							<span class="style_name_gre"> 条 </span>
							<span class="style_number_small"> 成功：{{ orderMoney.orderReallyOther }} ,  失败/待审核：{{ orderMoney.orderAllOther - orderMoney.orderReallyOther }} </span>
						</div>
						<div style="margin:0px 15px 0px 15px;">
							<count-to :end="orderMoney.orderAllMoneyOther" :decimals="2" class="style_count_user"/>
							<span class="style_name_gre"> 元 </span>
							<span class="style_number_small"> 成功：{{ orderMoney.orderReallyMoneyOther }} ,  失败/待审核：{{ orderMoney.orderAllMoneyOther - orderMoney.orderReallyMoneyOther }} </span>
						</div>
						<div style="margin:10px 15px 15px 15px;line-height:32px;">
							<span style="display: inline-block;margin-right: 10px;">
								成功占比 <count-to :end="orderMoney.orderOtherPer" :decimals="2" class="style_count_per"/>%
							</span>
							<span style="display: inline-block;margin-right: 10px;">
								成功金额占比 <count-to :end="orderMoney.orderMoneyOtherPer" :decimals="2" class="style_count_per"/>%
							</span>
						</div>
					</div>
				</Card>
			</Col>
			<Col :xs="24" :md="12" :lg="8" :sm="12" style="padding: 10px;">
				<Card :padding=0>
					<p slot="title">打赏数据</p>
					<p slot="extra">
						<Tooltip content="总记录包含失败和失效数据，条数为打赏记录总数，金额是打赏总金额" placement="top" transfer max-width="240">
							<Icon type="ios-help-circle-outline" size="20"/>
						</Tooltip>
					</p>
					<div style="min-height:125px;">
						<div style="margin:0px 15px 0px 15px;">
							<count-to :end="orderAll.orderAll" class="style_count_user"/>
							<span class="style_name_gre"> 条 </span>
							<span class="style_number_small"> 成功：{{ orderAll.orderAllReally }} ,  失败/待审核：{{ orderAll.orderAll - orderAll.orderAllReally }} </span>
						</div>
						<div style="margin:0px 15px 0px 15px;">
							<count-to :end="orderAll.orderAllMoney" :decimals="2" class="style_count_user"/>
							<span class="style_name_gre"> 元 </span>
							<span class="style_number_small"> 成功：{{ orderAll.orderReallyMoney }} ,  失败/待审核：{{ orderAll.orderAllMoney - orderAll.orderReallyMoney }} </span>
						</div>
						<div style="margin:10px 15px 15px 15px;line-height:32px;">
							<span style="display: inline-block;margin-right: 10px;">
								成功占比 <count-to :end="orderAll.orderPer" :decimals="2" class="style_count_per"/>%
							</span>
							<span style="display: inline-block;margin-right: 10px;">
								成功金额占比 <count-to :end="orderAll.orderMoneyPer" :decimals="2" class="style_count_per"/>%
							</span>
						</div>
					</div>
				</Card>
			</Col>
		</Row>

		<div class="table_style_more" v-show="power.userBoxPower" style="margin-top:20px;">
			<Tabs type="card">
				<TabPane label="提出意见">
					<propose :dataValue="opinionValue" v-if="showOpinionValue"/>
				</TabPane>
				<TabPane label="意见箱">
					<comment :dataValue="commentValue" v-if="showCommentValue"/>
				</TabPane>
				<!--				<TabPane label="收藏意见箱">-->
				<!--					<comment :dataValue="commentValue" v-if="showCommentValue"/>-->
				<!--				</TabPane>-->
				<TabPane label="交易明细">
					<transaction :dataValue="transactionValue" v-if="showTransactionValue"></transaction>
				</TabPane>
			</Tabs>
		</div>


		<div class="footer">
			<Button @click="close">关闭本页</Button>
			<Button v-show="0" type="default" @click="">上一步</Button>
			<Button v-show="0" type="primary" @click="">保存并发布</Button>
			<Button v-show="0" type="primary" @click="">保存</Button>
			<Button v-show="0" type="success" @click="">下一步</Button>
		</div>


	</div>

</template>

<script>
import {mapMutations} from 'vuex'
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import "./member.less";
import config from '@/config/index.js';
import excel from '@/libs/excel'
import propose from './member_message_propose.vue'
import comment from './member_message_comment.vue'
import transaction from './member_transaction.vue'
import CountTo from '_c/count-to'

export default {
	name: 'member_messages',
	components: {
		propose,
		comment,
		transaction,
		CountTo,
	},
	data () {
		return {
			spinShow: false,
			showOpinionValue: false,
			showCommentValue: false,
			showTransactionValue: false,
			tableData: [],
			columns: [],
			tableMess: [],
			tableNumber: 0,
			pageSize: config.PAGE_SIZE_DEF,
			pageSizeOpts: config.PAGE_SIZE_OPTS,
			power: [],
			opinionValue: [],
			commentValue: [],
			transactionValue: [],
			userFollowBox: [],
			numOne: [],
			orderAll: {
				orderAll: 0,
				orderAllReally: 0,
				orderPer: 0,
				orderAllMoney: 0,
				orderReallyMoney: 0,
				orderMoneyPer: 0,
			},
			orderMoney: {
				orderAllOther: 0,
				orderReallyOther: 0,
				orderOtherPer: 0,
				orderAllMoneyOther: 0,
				orderReallyMoneyOther: 0,
				orderMoneyOtherPer: 0,
			},
			withOther: {
				withAll: 0,
				withAllReally: 0,
				withOtherPer: 0,
				withAllMoney: 0,
				withAllMoneyReally: 0,
				withAllMoneyPer: 0,
			},
		}
	},
	methods: {
		...mapMutations([
			'closeTag'
		]),
		close () {
			/**
			 * 如果是调用closeTag方法，普通的页面传入的对象参数只需要写name字段即可
			 * 如果是动态路由和带参路由，需要传入query或params字段，用来区别关闭的是参数为多少的页面
			 */
			this.closeTag({
				name: 'queryMember',
				query: {
					id: this.$route.query.id
				}
			})
		},
		getMessage () {
			this.spinShow = true;
			const data = {
				id: this.$route.query.id,
			}
			axios.request({
				url: "users/detail",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.tableData = res.data;
					this.power = res.data.power;
					this.numOne = res.data.moneyMess;
					this.orderAll = res.data.reward.orderAll;
					this.orderMoney = res.data.reward.orderMoney;
					this.withOther = res.data.reward.withOther;
					this.spinShow = false;
				} else {
					this.spinShow = false;
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		getOption (page) {
			const data = {
				userId: this.$route.query.id,
				page: page
			}
			axios.request({
				url: "users/opinion",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.opinionValue = res;
					this.showOpinionValue = true;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		getComment (page) {
			const data = {
				userId: this.$route.query.id,
				page: page,
			}
			axios.request({
				url: "users/box",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.commentValue = res;
					this.showCommentValue = true;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},
		getTransaction (page) {
			const data = {
				id: this.$route.query.id,
				pageSize: this.pageSize,
				page: page,
			}
			axios.request({
				url: "users/transaction/get",
				data,
				method: "post"
			}).then((response) => {
				var res = response.data;
				if (res.code == 0) {
					this.transactionValue = res;
					this.showTransactionValue = true;
				} else {
					this.$Message.error({
						content: res.message,
						duration: 6,
						closable: true
					});
				}
			});
		},

	},
	created () {

	},
	watch: {
		// 如果路由有变化，会再次执行该方法
		//'$route': 'getMessage'
		'$route' () {
			this.getMessage();
			this.showOpinionValue = false;
			this.getOption(0);
			this.showCommentValue = false;
			this.getComment(0);
			this.showTransactionValue = false;
			this.getTransaction(0);
		}
	},
	mounted () {
		this.getMessage();
		this.getOption(0);
		this.getComment(0);
		this.getTransaction(0);
		//alert(this.$route.query.id);
	}
}

</script>
