<style lang="less">

</style>
<template>
<div class="main_style">
<Spin fix v-if="spinShow" >
     <Icon type="ios-loading" size=30 class="demo-spin-icon-load"></Icon>
     <div>加载中......</div>
</Spin>

		<div  class="search-con search-con-top select_type_header">
        	<div style="display: inline-block;">
        				<div class="searchTopText">关键字</div>
        				<Select v-model="searchType" class="search-col">
        		        <Option v-for="item in searchTypeList"  :value="item.value">{{ item.label}}</Option>
        		      	</Select>
        				<Input @on-change="" clearable placeholder="输入关键字搜索" class="search-input" v-model="text"/>
        				
        				<Button @click="getMessage(0)" class="search-btn" type="primary" icon="ios-search">搜索</Button>
        	</div>	
        
        	<div style="display: inline-block;float:right;">
        		<div>&nbsp;&nbsp;</div>
        		<Button @click="explode()" class="search-btn" type="primary" icon="md-download" v-show="0">导出</Button>
        	</div>	
		</div>
	
		<div class="table_style">	
				
		    	<Table :columns="columns" :data="tableData"  ref="userTable">	
		    		<template slot-scope="{ row,index }" slot="header">
    		    	  	<div style="display: inline-block;">
        		    	  	<div class="image-show">
        		    	  		<img :src=" row.head_img">	
        		    	  	</div>
        		    	  	<div class="image-title-show">
        		    	  	<span>用户ID：{{row.pk_member_id}}</span><br>
        		    	  	<span>昵称：{{row.nick_name}}</span><br>
        		    	  	<span>性别：{{row.sex_name}}</span><br>
        		    	  	<span>手机：{{row.mobile}}</span>
        		    	  	</div>
    		    	  	</div>
    		    	 </template>
		    	</Table>
		</div>
		<div class="page_style">
		    	<Page 
		    	:total="tableNumber" 
		    	:page-size="pageSize"
		    	:page-size-opts="pageSizeOpts"
		    	@on-change="getMessage"
		    	@on-page-size-change="handlePageSize"
		    	show-sizer  />
		    	<div style="margin-top: -15px;">共 {{tableNumber}} 条数据</div>
		    </div>

	



</div>

</template>

<script>
import axios from "@/libs/api.request";
import "@/view/indexBox.less";
import config from '@/config/index.js';
export default {
	name: 'reflect_record',
	 components: {
		    
		  },
  	data () {
	    return {
	    	spinShow:false,
	    	text:'',
			status:'0',
			searchType: 'pk_member_id',
	    	columns:[],
			tableData:[],
			tableNumber:0,
			pageSize:config.PAGE_SIZE_DEF,
			pageSizeOpts:config.PAGE_SIZE_OPTS,
			searchTypeList:[],
			statusList:[],
	    }
    },
    methods: {
    	handlePageSize(pageSize){
			this.pageSize=pageSize;
			this.getMessage(1);
		},
	  getMessage(page){
			this.spinShow=true;
			const data ={
					searchType: this.searchType,
					text: this.text,
					status:this.status,
					page:page,
					pageSize:this.pageSize,
			      }
			axios.request({
		          url: "member/getReflectLog",
		          data,
		          method: "post"
		        }).then((response)=> {
		        	var res = response.data;
		        	if(res.code==true){
		        		this.columns=res.data.columns;
		        		this.tableData=res.data.items;
		        		this.tableNumber=res.data.total;
		        		this.searchTypeList=res.data.searchTypeList;
		        		this.spinShow=false;
		        	}else{
		        		this.$Message.error({
			                content: res.message,
			                duration: 6,
			                closable: true
			            });
		        		this.spinShow=false;
		        	}
		        });
		},
    	
    },
	created () {
	
	},
	mounted () {
		this.getMessage(0);
		 // alert(this.$route.params.id);
	}
}

</script>